workflows/---.json
{
  "updatedAt": "2026-05-14T07:41:29.929Z",
  "createdAt": "2026-01-28T03:19:38.719Z",
  "id": "kSR-XRg6MSOHG9Px54lWz",
  "name": "爆款风格分析---智能体 方案二",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hello! I am your e-commerce visual consultant. Please upload product images and tell me your selling points (e.g., sofas, sold to the US, French chic style).",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -256,
        688
      ],
      "id": "f401375b-b216-4426-83bf-704d0e76ad5e",
      "name": "When chat message received",
      "webhookId": "192c487d-a9d6-410f-9071-e446ca480fee"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst imageParts = [];\nlet textContent = '';\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  // 仅在第一个 item 中提取文字描述\n  if (i === 0) textContent = item.json?.['chatInput'] || '';\n  \n  const bin = item.binary || {};\n  const binaryKeys = Object.keys(bin);\n\n  for (const key of binaryKeys) {\n    const b = bin[key];\n    if (b) {\n      const buffer = await this.helpers.getBinaryDataBuffer(i, key);\n      const base64 = buffer.toString('base64');\n      const mime = b.mimeType || 'image/jpeg';\n      \n      // 按照 Gemini 的 inline_data 格式打包\n      imageParts.push({\n        inline_data: {\n          mime_type: mime,\n          data: base64\n        }\n      });\n    }\n  }\n}\n\n// 最终只输出一个 item，包含所有图片和文字\nreturn [{\n  json: {\n    text_11: textContent,\n    gemini_images: imageParts // 这里包含了 1~N 张图\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        688
      ],
      "id": "8b158099-c7ab-49a9-9387-ea700a7e7568",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"{{ $json.final_prompt }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        688
      ],
      "id": "c1b6648a-61ed-4c83-8305-6b3f83bb74bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAiFyELcCgOENI8-Q5sqMh6Z-pBMRWVlbk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        688
      ],
      "id": "165fd644-0900-465f-80db-bdef646a2c9d",
      "name": "HTTP gemini-2."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst toStr = (v) => (v == null ? '' : String(v));\n\nconst clean = (s) => {\n  let t = toStr(s);\n  t = t.replace(/```[\\s\\S]*?```/g, '');\n  t = t.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n  t = t.replace(/^\\s*#{1,6}\\s+/gm, '');\n  t = t.replace(/[\"']/g, '');\n  t = t.replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n').trim();\n  t = t.replace(/\\r?\\n/g, '').replace(/\\\\n/g, '');\n  return t;\n};\n\nconst extractText = (resp) => {\n  const parts = resp?.candidates?.[0]?.content?.parts;\n  if (Array.isArray(parts)) {\n    const joined = parts.filter(p => p.text !== undefined).map(p => String(p.text)).join('\\n');\n    return clean(joined);\n  }\n  const fallback = toStr(resp?.text || resp?.content || resp?.message?.content);\n  return clean(fallback);\n};\n\nconst outputs = items.map((item) => {\n  const response = item.json || {};\n  const final_prompt = extractText(response);\n  return { json: { final_prompt } };\n});\n\nreturn outputs.length ? outputs : [{ json: { final_prompt: '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        688
      ],
      "id": "b6f51196-e888-49cd-8a14-00edc1696108",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5fdc2360-dbc7-4c6",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,OPTIONS,DELETE"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization,x-requested-with, Referer,content-type,DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type, Accept-Language, Origin, Accept-Encoding, Group,X-Params-Encrypted,X-Data-Encrypted"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, max-age=0"
              },
              {
                "name": "Connection",
                "value": "keep-alive"
              },
              {
                "name": "Content-Type",
                "value": "text/html; charset=UTF-8"
              },
              {
                "name": "Expires",
                "value": "0"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Transfer-Encoding",
                "value": "chunked"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        384
      ],
      "id": "3bb6cb19-7452-414d-b503-6f9bf50bf9cc",
      "name": "Webhook",
      "webhookId": "5fdc2360-dbc7-4c6f-8ce9-c4115b9aa058"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst toText = (obj, key, fallback) => {\n  const v = obj?.[key];\n  if (v == null) return fallback;\n  if (Array.isArray(v)) return v.map(e => String(e).trim()).filter(Boolean).join('，') || fallback;\n  const s = String(v).trim();\n  return s || fallback;\n};\n\nconst outputs = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const json = item.json || {};\n\n  const market = toText(json, '目标市场', '未指定');\n  const platform = toText(json, '目标平台', '未指定');\n  const language = toText(json, '文案语言', '未指定');\n  const aspect_ratio = toText(json, '图片比例', '1:1');\n  const selling_points = toText(json, '核心卖点', '未提供');\n\n  const integrated = `### 电商产品背景信息\n- 目标市场: ${market}\n- 目标平台: ${platform}\n- 文案语言: ${language}\n- 图片比例: ${aspect_ratio}\n- 产品核心卖点: ${selling_points}\n\n请基于以上信息，为该产品设计一个专业、吸引人的电商详情页设计风格概述。`.trim();\n\n  const bin = item.binary || {};\n  const keys = Object.keys(bin);\n  const urls = [];\n\n  for (const key of keys) {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, key);\n    const base64 = Buffer.isBuffer(buffer) ? buffer.toString('base64') : Buffer.from(buffer).toString('base64');\n    const meta = bin[key] || {};\n    const mime = meta.mimeType || meta.mimetype || 'application/octet-stream';\n    urls.push(`data:${mime};base64,${base64}`);\n  }\n\n  outputs.push({\n    json: {\n      integrated_info: integrated,\n      image_url_full: urls.length === 1 ? urls[0] : '',\n      image_urls_full: urls\n    }\n  });\n}\n\nreturn outputs.length ? outputs : [{ json: { integrated_info: '', image_url_full: '', image_urls_full: [] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        384
      ],
      "id": "52f86628-f63c-4ef8-a3e0-93d6e647fe9c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Function 节点代码（终极修复版）\nconst images = $input.first().json.image_urls_full;\nconst integrated_info = $input.first().json.integrated_info;\n\nif (!Array.isArray(images) || images.length === 0) {\n  return { json: { error: \"未提供任何图片\" } };\n}\n\nconst parts = [\n  { text: typeof integrated_info === 'string' ? integrated_info : \"请提供产品背景信息。\" }\n];\n\nfor (const base64Data of images) {\n  if (typeof base64Data !== 'string') continue;\n  const temp = base64Data.trim();\n  if (!temp) continue;\n\n  // 安全提取 MIME\n  let mimeType = 'image/jpeg';\n  const mimeMatch = temp.match(/^data:(image\\/[^;]+);base64,/);\n  if (mimeMatch) mimeType = mimeMatch[1];\n  else if (temp.startsWith('image/')) {\n    const simple = temp.split(';')[0];\n    if (simple.startsWith('image/')) mimeType = simple;\n  }\n\n  // 安全提取 base64 数据\n  let data = temp;\n  if (temp.includes(',')) {\n    data = temp.split(',')[1];\n  }\n  if (typeof data !== 'string' || data === '') continue;\n\n  parts.push({\n    inline_data: {\n      mime_type: mimeType,\n      data: data\n    }\n  });\n}\n\n// ✅ 构造纯净对象，确保所有值都是 string/number/boolean/null\nconst result = {\n  contents: [{\n    parts: parts.map(part => {\n      // 确保每个 part 只含允许的字段\n      if ('text' in part) {\n        return { text: String(part.text) };\n      } else if ('inline_data' in part) {\n        return {\n          inline_data: {\n            mime_type: String(part.inline_data.mime_type),\n            data: String(part.inline_data.data)\n          }\n        };\n      }\n      return part;\n    })\n  }]\n};\n\n// 最终验证\ntry {\n  JSON.stringify(result);\n} catch (e) {\n  console.error(\"Serialization failed:\", e);\n  return { json: { error: \"JSON invalid\", detail: e.message } };\n}\n\nreturn { json: result }; // 👈 关键：只返回 { json: { ... } }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        384
      ],
      "id": "c885a6e6-ed6d-40da-939d-08143323a684",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "={{ Object.keys($binary)[0] }}",
        "resizeOption": "onlyIfLarger",
        "options": {
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        688,
        1328
      ],
      "id": "6be40b3b-aa6e-43c0-b0de-f41aefb5fd2e",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=$binary",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        1328
      ],
      "id": "ad489a4b-6d83-4e20-b8f5-1c9f32380a32",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst toStr = (v) => (v == null ? '' : String(v).trim());\n\nconst getChatInput = () => {\n  try {\n    const n = $('Code in JavaScript4').first();\n    return toStr(n?.json?.chatInput);\n  } catch (_) {\n    return '';\n  }\n};\n\nconst chatInput = getChatInput();\nconst base64_list = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const bin = items[i].binary || {};\n  const keys = Object.keys(bin).filter(k =>\n    k.startsWith('image') || k.startsWith('data') || k.startsWith('file') || k.startsWith('webp')\n  );\n\n  for (const key of keys) {\n    const buf = await this.helpers.getBinaryDataBuffer(i, key);\n    const b64 = Buffer.isBuffer(buf) ? buf.toString('base64') : Buffer.from(buf).toString('base64');\n    if (b64) base64_list.push(b64);\n  }\n}\n\nreturn [{\n  json: {\n    chatInput,\n    base64_list\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1328
      ],
      "id": "5cdf868e-4298-4aea-99cc-016ce050d632",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"text\": [\"1屏：xxx\", \"2屏：xxx\", \"3屏：xxx\", \"4屏”：xxx\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        1568
      ],
      "id": "9098c890-3652-415c-a2b6-51fde552461b",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "[Role]你是一位拥有10年经验的亚马逊资深视觉创意总监，精通美国市场消费心理学与电商转化率（CVR）视觉设计。# Task请分析用户提供的产品背景信息（目标市场、平台、卖点等），为该产品量身定制 4 种电商详情页设计风格建议。# Output Strategy你的分析需要基于以下审美逻辑：1. 市场契合度：根据目标市场偏好的偏好，从明亮、高对比度、真实且具有代入感的画面等方向考虑。2. 产品特性：例如（针对仿真花，重点在于“去塑料感”、“生命力”与“空间氛围”）。# Output Format (Strictly Follow)输出必须严格遵守以下格式，每行一个风格，不要包含任何前导词、解释或多余符号：风格名称1：简短的描述，#791c1c, #FFFFFF, #EAEAEA风格名称2：简短的描述，#791c1c, #FFFFFF, #EAEAEA风格名称3：简短的描述，#791c1c, #FFFFFF, #EAEAEA风格名称4：简短的描述，#791c1c, #FFFFFF, #EAEAEA各种风格[提供 3 个 Hex 颜色代码，例如 #791c1c, #FFFFFF, #EAEAEA]# Example始终用，中文输出温馨居家：营造居家舒适氛围。#791c1c, #FFFFFF, #EAEAEA。"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1472,
        1328
      ],
      "id": "a02c3b72-46a5-4b00-9407-c1f0a844545e",
      "name": "批量出整套图的提示词1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen3-VL-8B-Thinking",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen3-VL-8B-Thinking"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1328,
        1568
      ],
      "id": "3cac1ec8-9d4c-4d51-9be3-ab5fdb41a857",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4h3AA9UIed1lWM83",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst toStr = (v) => (v == null ? '' : String(v).trim());\n\nconst collectPrompts = () => {\n  const out = [];\n  for (const it of items) {\n    const j = it.json || {};\n    const arr = j?.output?.text;\n    if (Array.isArray(arr)) {\n      for (const s of arr) {\n        const t = toStr(s);\n        if (t) out.push(t);\n      }\n    }\n    const t1 = toStr(j.text);\n    if (t1) out.push(t1);\n    const t2 = toStr(j.content);\n    if (t2) out.push(t2);\n  }\n  return Array.from(new Set(out));\n};\n\nconst getChatFilesBinary = () => {\n  try {\n    const n = $('When chat message received').first();\n    const bin = n?.binary || {};\n    const keys = Object.keys(bin);\n    return keys.map((key) => ({ key, data: bin[key] })).filter(x => x.data);\n  } catch (_) {\n    return [];\n  }\n};\n\nconst prompts = collectPrompts();\nconst files = getChatFilesBinary();\n\nif (files.length) {\n  return files.map(f => ({\n    json: {\n      prompts,\n      fileName: f.data.fileName || f.key,\n      mimeType: f.data.mimeType || ''\n    },\n    binary: { [f.key]: f.data }\n  }));\n}\n\nreturn [{ json: { prompts } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1888
      ],
      "id": "68e15d69-db82-475b-a50c-807592dac5ac",
      "name": "提取图片和提示词"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5fdc2360-dbc7-4c6f-8ce9-c4115b9aa058",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,OPTIONS,DELETE"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization,x-requested-with, Referer,content-type,DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type, Accept-Language, Origin, Accept-Encoding, Group,X-Params-Encrypted,X-Data-Encrypted"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, max-age=0"
              },
              {
                "name": "Connection",
                "value": "keep-alive"
              },
              {
                "name": "Content-Type",
                "value": "text/html; charset=UTF-8"
              },
              {
                "name": "Expires",
                "value": "0"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Transfer-Encoding",
                "value": "chunked"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        1328
      ],
      "id": "2e8ec73a-64d2-4abe-820d-2af35e619c7a",
      "name": "Webhook1",
      "webhookId": "5fdc2360-dbc7-4c6f-8ce9-c4115b9aa058"
    },
    {
      "parameters": {
        "jsCode": "// 当 Mode 为 \"Run Once for All Items\" 时，输入是一个名为 $input.all() 的数组\nconst allItems = $input.all();\n\n// 处理每一项数据（通常 Chat Trigger 只有 1 个 Item）\nreturn allItems.map(item => {\n  const newBinary = {};\n  \n  // 获取当前 item 中所有的二进制键名 (例如: data0, data1)\n  const binaryKeys = Object.keys(item.binary || {});\n  \n  // 按照你的要求，提取前 3 张并重命名\n  binaryKeys.slice(0, 3).forEach((key, index) => {\n    newBinary[`image_${index}`] = item.binary[key];\n  });\n  \n  // 返回符合 n8n 规范的结构\n  return {\n    json: item.json,\n    binary: newBinary\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1328
      ],
      "id": "e0655e9c-05b7-462f-9f4a-e09c5e2358b1",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1968,
        1328
      ],
      "id": "8493234b-3ae0-470e-b692-446267a17049",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP gemini-2.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP gemini-2.": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP gemini-2.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "批量出整套图的提示词1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "批量出整套图的提示词1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "批量出整套图的提示词1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "批量出整套图的提示词1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "提取图片和提示词": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Respond to Webhook": [
      {
        "json": {
          "final_prompt": "自然写实：强调绢布花瓣与叶片的真实质感，通过柔和自然光展现“去塑料感”的生动细节，营造宛如鲜花的清新感。#C72E2E, #3A623A, #F0F0F0活力绽放：运用明亮高对比度光线，突出凤仙花鲜艳色彩与饱满形态，展现其为任何空间注入的强烈生命力与视觉冲击。#E70000, #5CB85C, #FFFFFF雅致生活：将仿真花融入多元居家场景，通过营造温馨或优雅的氛围，展现其提升空间美感、带来美好生活体验的能力。#B22222, #6B8E23, #F5DEB3精工细节：特写展示绢布花朵的精细纹理和可拆卸叶片的实用性，突出产品材质的高级感与制作工艺的卓越。#C03030, #4A754A, #E8E8E8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "final_prompt": "明亮自然：模拟自然光线，强调花朵的鲜活与绢布材质的真实质感，营造清新花园氛围。#E83A3A, #3B6D3B, #F8F8F8现代极简：以简洁背景突出凤仙花鲜艳色彩和优雅形态，展现现代家居的精致格调。#CC2222, #2E4A2E, #E0E0E0田园质朴：融入温暖的木质与编织元素，通过柔和光线展现花朵的温馨与自然亲和力。#D84C4C, #5A7B5A, #C7A88C活力奔放：运用高对比度和鲜明色彩，强调凤仙花的丰盛与视觉冲击力，激发装饰热情。#FF0000, #1E601E, #F0F0F0"
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Code in JavaScript11": [
      {
        "json": {
          "final_prompt": "自然写实：强调绢布花瓣与叶片的真实质感，通过柔和自然光展现“去塑料感”的生动细节，营造宛如鲜花的清新感。#C72E2E, #3A623A, #F0F0F0活力绽放：运用明亮高对比度光线，突出凤仙花鲜艳色彩与饱满形态，展现其为任何空间注入的强烈生命力与视觉冲击。#E70000, #5CB85C, #FFFFFF雅致生活：将仿真花融入多元居家场景，通过营造温馨或优雅的氛围，展现其提升空间美感、带来美好生活体验的能力。#B22222, #6B8E23, #F5DEB3精工细节：特写展示绢布花朵的精细纹理和可拆卸叶片的实用性，突出产品材质的高级感与制作工艺的卓越。#C03030, #4A754A, #E8E8E8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "final_prompt": "明亮自然：模拟自然光线，强调花朵的鲜活与绢布材质的真实质感，营造清新花园氛围。#E83A3A, #3B6D3B, #F8F8F8现代极简：以简洁背景突出凤仙花鲜艳色彩和优雅形态，展现现代家居的精致格调。#CC2222, #2E4A2E, #E0E0E0田园质朴：融入温暖的木质与编织元素，通过柔和光线展现花朵的温馨与自然亲和力。#D84C4C, #5A7B5A, #C7A88C活力奔放：运用高对比度和鲜明色彩，强调凤仙花的丰盛与视觉冲击力，激发装饰热情。#FF0000, #1E601E, #F0F0F0"
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "versionId": "44b0f527-9b73-435c-902c-d02a130290c0",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-28T03:19:38.719Z",
      "createdAt": "2026-01-28T03:19:38.719Z",
      "role": "workflow:owner",
      "workflowId": "kSR-XRg6MSOHG9Px54lWz",
      "projectId": "ab6D8dFMpUWSaNjq"
    }
  ],
  "activeVersion": null,
  "tags": []
}