workflows/aigent3-1_new-Gemini---_2-----_3_0----.json
{
  "updatedAt": "2026-06-05T07:04:04.562Z",
  "createdAt": "2026-06-05T07:01:12.900Z",
  "id": "CqiyDwib3SHe9FKZ",
  "name": "电商aigent3-1(产品图+参考图构图)new-Gemini---已发布2-----调整中3.0----",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ================================================ \n// 获取 taskId，计算完整路径，按顺序命名图片 \n// 统一 binary 键名为 data，重命名 fileName 为 img_1.png 格式 \n// 说明：本节点不再 require('fs') / require('path')，\n//      目录创建交给下游 Read/Write Files from Disk 节点处理（recursive 自动建）\n// ================================================ \n\nconst allItems = $input.all(); \n\n// 尝试多种方式获取 taskId \nlet taskId = ''; \n\n// 方式1：从当前节点的 json 中获取 \nconst firstItem = allItems[0] || {}; \nif (firstItem.json?.taskId) { \n  taskId = firstItem.json.taskId; \n} \n\n// 方式2：从\"path\"节点获取（生成ID的节点） \nif (!taskId) { \n  try { \n    const basePathItems = $('path').all(); \n    if (basePathItems && basePathItems.length > 0) { \n      taskId = basePathItems[0].json?.taskId || ''; \n    } \n  } catch (e) { \n    console.log('无法从 path 获取 taskId'); \n  } \n} \n\n// 方式3：从 Respond to Webhook2 节点获取 \nif (!taskId) { \n  try { \n    const respondItems = $('Respond to Webhook2').all(); \n    if (respondItems && respondItems.length > 0) { \n      taskId = respondItems[0].json?.taskId || ''; \n    } \n  } catch (e) { \n    console.log('无法从 Respond to Webhook2 获取 taskId'); \n  } \n} \n\n// 如果还是没有，使用时间戳作为备用 \nif (!taskId) { \n  console.log('警告: 未找到 taskId，使用时间戳作为备用'); \n  taskId = `task_${Date.now()}`; \n} \n\nconsole.log('获取到的 taskId:', taskId); \n\n// 生成日期文件夹路径（用模板字符串代替 path.join） \nconst now = new Date(); \nconst yyyy = String(now.getFullYear()); \nconst mm = String(now.getMonth() + 1).padStart(2, '0'); \nconst dd = String(now.getDate()).padStart(2, '0'); \n\n// 文件夹路径 = 基础路径/日期/taskId \nconst basePath = '/home/node/.n8n/AI-WEB'; \nconst folderPath = `${basePath}/${yyyy}/${mm}/${dd}/${taskId}`; \n\nconsole.log('目标文件夹:', folderPath); \n\n// 按顺序为每个 item 分配图片编号（img_1, img_2, img_3...）\nreturn allItems.map((item, index) => { \n  const imageName = `img_${index + 1}`; \n  const fullImagePath = `${folderPath}/${imageName}.png`; \n    \n  // 获取原始 binary 数据 \n  const originalBinary = item.binary || {}; \n    \n  // 修改 binary：将所有键名统一为 \"data\"，fileName 改为 img_X.png 格式 \n  const modifiedBinary = {}; \n    \n  // 取第一个 binary 数据的属性作为模板\n  const firstKey = Object.keys(originalBinary)[0]; \n  const templateData = firstKey ? originalBinary[firstKey] : {}; \n    \n  // 获取原始扩展名 \n  const extension = (templateData.fileName || 'image.png').split('.').pop() || 'png'; \n  // 新文件名：img_1.png, img_2.png...\n  const newFileName = `${imageName}.${extension}`; \n    \n  // 统一键名为 \"data\" \n  modifiedBinary['data'] = { \n    ...templateData, \n    fileName: newFileName \n  }; \n    \n  console.log(`生成文件: ${newFileName}`); \n    \n  return { \n    json: { \n      ...item.json, \n      taskId: taskId, \n      basePath: basePath, \n      imageName: imageName, \n      fullImagePath: fullImagePath, \n      // 传递给 Read/Write Files from Disk \n      savePath: fullImagePath, \n      // 用于创建文件夹 \n      folderPath: folderPath, \n      year: yyyy, \n      month: mm, \n      day: dd \n    }, \n    binary: modifiedBinary \n  }; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        1024
      ],
      "id": "65e1bd85-5c69-4b8b-98bd-a42ad3203cf9",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "={{ Object.keys($input.item.binary).join(',') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2208,
        928
      ],
      "id": "fc12cb5d-95fe-4c87-bd4c-a74291ce631a",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1952,
        928
      ],
      "id": "f6aad0a7-dfb0-4cd3-ab86-6ac407509c8e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ Object.keys($binary)[0] }}",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        928
      ],
      "id": "985cf1db-b87b-4fc9-86a9-34b766acfb2f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f4fcc18-251f-4642-9bc7-3ada98180fc7",
              "name": "",
              "value": "={{ $('Webhook').item.json.body[\"Product Information\"] }}",
              "type": "string"
            },
            {
              "id": "706563f9-734e-413f-bc21-859c1c9fc7fc",
              "name": "body.name",
              "value": "={{ $('Webhook').item.json.body.name }}",
              "type": "string"
            },
            {
              "id": "3ad5e7c3-5d67-4f34-8f95-6ec510262cae",
              "name": "body.number",
              "value": "={{ $('Webhook').item.json.body.number }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        928
      ],
      "id": "b14fddf0-35e8-4aa8-b8fc-aa8b941ff708",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d986655c-9ee9-4a2e-af9a-57f54c87a90d",
                    "leftValue": "={{ $json.imageCount }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b90dbd6-9302-43bc-8900-2e58b467714f",
                    "leftValue": "={{ $json.imageCount }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74bc473a-31da-4413-b8dd-eca1151dde2a",
                    "leftValue": "={{ $json.imageCount }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6352,
        800
      ],
      "id": "f706bd2c-6452-4a53-8289-b6afdcb40dd0",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d4f615b-b8ec-4293-8aea-b48ce747c400",
              "leftValue": "={{ Object.keys($binary)[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        832
      ],
      "id": "4dd1174b-5658-422a-8ece-06d3a3a77970",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6576,
        1152
      ],
      "id": "03d0c319-d333-4b1f-b02f-ad5114f1bcd4",
      "name": "Loop Over Items2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6576,
        928
      ],
      "id": "4b784e5c-9ebc-4c9c-8293-8f7235b5b7a7",
      "name": "Loop Over Items3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6576,
        720
      ],
      "id": "677bc9a5-42b1-44ff-afa9-b06dd90ccef5",
      "name": "Loop Over Items4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// n8n Code 节点专用代码\n// 功能：将上游所有数据原样传递，并为每个item添加图片数量统计\n// 返回：所有输入项，每个项的JSON中都增加了imageCount字段\n// ================================================\n\n// 遍历输入的所有 items\nfor (const item of $input.all()) {\n  // 动态计算当前 item 的 binary 中包含多少张图片\n  // 如果 item.binary 不存在，则其键的数量为 0\n  const calculatedImageCount = item.binary ? Object.keys(item.binary).length : 0;\n\n  // 将计算出的图片数量更新到 item 的 json 部分\n  item.json.imageCount = calculatedImageCount;\n\n  // 可选：打印日志信息用于调试\n  console.log(`Item ${item.json.image_key || 'unknown'} has ${calculatedImageCount} image(s) in its binary data.`);\n}\n\n// 返回所有经过处理的输入项\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6144,
        816
      ],
      "id": "a6d7e814-6909-4dcc-b281-891a69d5ea17",
      "name": "计数1"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// n8n Code 节点专用代码\n// 功能1：获取当前节点的输入数据（$input.all()）\n// 功能2：动态提取当前输入 binary 中所有的图片\n// 功能3：主动获取 Edit Fields 节点的 binary 图像数据（修正逻辑）\n// 功能4：提取干净的 JSON 文字信息（适用于 HTTP 请求）\n// 返回：合并后的数据，包含输入 JSON + 所有图片 + Edit Fields 的图片 + 干净字符串\n// ================================================\n\nconst processInputAndImages = () => {\n  try {\n    // 1. 获取当前节点的输入数据（所有 items，通常是 1 个）\n    const inputItems = $input.all();\n    const firstInput = inputItems && inputItems.length > 0 ? inputItems[0] : {};\n    const inputJson = firstInput.json || {};\n    const inputBinary = firstInput.binary || {};\n\n    // 2. 动态提取当前输入 binary 中所有的图片\n    const allImages = {};\n    let totalImageCount = 0;\n\n    Object.keys(inputBinary).forEach(key => {\n      // 不再限制特定前缀，直接提取所有 binary 图片\n      if (inputBinary[key]) {\n        allImages[key] = { ...inputBinary[key] };  // 深拷贝 binary 对象\n        totalImageCount++;\n      }\n    });\n\n    // 调试日志\n    console.log('当前输入 binary 总键数:', Object.keys(inputBinary).length);\n    console.log('提取到的图片数:', totalImageCount);\n    console.log('图片键名列表:', Object.keys(allImages));\n\n    // 3. 主动获取 Edit Fields 节点的 binary 图像数据（修正逻辑：寻找 cpimage 开头）\n    let editFieldsImages = [];\n    let editFieldsBinary = {};\n    let editFieldsImageCount = 0;\n    let editFieldsConnected = false;\n\n    try {\n      const editFieldsItems = $('Edit Fields').all();\n\n      if (editFieldsItems && editFieldsItems.length > 0) {\n        editFieldsItems.forEach((item, idx) => {\n          const itemBinary = item.binary || {};\n\n          Object.keys(itemBinary).forEach(key => {\n            // 修正点：将 'ckimage' 改为 'cpimage'\n            if (key.startsWith('cpimage') && itemBinary[key]) {\n              const img = itemBinary[key];\n              editFieldsImages.push({\n                fieldName: key,\n                fileName: img.fileName || '',\n                mimeType: img.mimeType || '',\n                fileExtension: img.fileExtension || '',\n                fileSize: img.fileSize || '',\n                sourceItemIndex: idx\n              });\n\n              // 带前缀避免冲突\n              editFieldsBinary[`editFields_${key}_${idx}`] = itemBinary[key];\n              editFieldsImageCount++;\n            }\n          });\n        });\n\n        if (editFieldsImageCount > 0) {\n          editFieldsConnected = true;\n          console.log(`成功从 Edit Fields 节点提取 ${editFieldsImageCount} 张图片`);\n        }\n      }\n    } catch (editFieldsErr) {\n      console.log('获取 Edit Fields 失败:', editFieldsErr.message);\n    }\n\n    // ==========================================\n    // 新增功能：提取干净的文字信息 (Clean JSON String)\n    // ==========================================\n    let cleanJsonString = '';\n    try {\n      // 核心修复：使用 JSON.stringify 自动转义双引号 \" 和换行符 \\n\n      // 这样生成的字符串可以直接作为 JSON 值使用\n      cleanJsonString = JSON.stringify(inputJson);\n    } catch (jsonErr) {\n      console.log('生成干净字符串失败:', jsonErr.message);\n      cleanJsonString = JSON.stringify(inputJson); // 降级处理\n    }\n\n    // 4. 合并所有 binary：当前节点的所有图片 + Edit Fields 的 cpimage 图片\n    const mergedBinary = {\n      ...allImages,              // 所有图片\n      ...editFieldsBinary       // editFields_cpimageX_...\n    };\n\n    // 5. 返回结果\n    return [{\n      json: {\n        // 输入的原始 JSON 数据\n        inputData: inputJson,\n\n        // 当前节点的所有图片元数据\n        allImages: allImages,\n        totalImageCount: totalImageCount,\n        imageKeys: Object.keys(allImages),\n\n        // Edit Fields 的图片元数据（修正后）\n        editFieldsImages: editFieldsImages,\n        editFieldsImageCount: editFieldsImageCount,\n        editFieldsConnected: editFieldsConnected,\n\n        // 总计\n        finalTotalImageCount: Object.keys(mergedBinary).length,\n        source: 'merged_all_images_and_editFields',\n\n        // --- 新增字段：干净的 JSON 字符串 ---\n        cleanJsonString: cleanJsonString\n      },\n\n      // 合并后的 binary 数据\n      binary: mergedBinary\n    }];\n\n  } catch (err) {\n    console.log('执行失败:', err.message);\n    return [{\n      json: {\n        error: '执行失败',\n        errorDetail: err.message\n      }\n    }];\n  }\n};\n\n// 执行并返回\nreturn processInputAndImages();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        816
      ],
      "id": "137dbc8f-91cc-4bcc-afb0-d6a27717aec6",
      "name": "提取构图参考"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAiFyELcCgOENI8-Q5sqMh6Z-pBMRWVlbk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBodyJson }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4272,
        1056
      ],
      "id": "66df2c78-58d7-4dea-9444-a2fed5b91ea0",
      "name": "HTTP gemini-2.2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAiFyELcCgOENI8-Q5sqMh6Z-pBMRWVlbk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBodyJson }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5280,
        1088
      ],
      "id": "4a9e200c-bc79-4b2a-a25a-3cc61103f5a3",
      "name": "HTTP gemini-2.",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// n8n Code 节点专用代码\n// 功能：主动获取 Edit Fields 节点的输出数据，并提取其中所有以 'ckimage' 和 'cpimage' 开头的 binary 图片\n// 返回：包含 Edit Fields 节点的 JSON 数据和提取出的图片的数据结构\n// ================================================\n\nconst processInputAndImages = () => {\n  try {\n    // 1. 主动获取 Edit Fields 节点的输出数据\n    let editFieldsData = {};\n    let editFieldsBinary = {};\n    let extractedImages = {};\n    let extractedImageCount = 0;\n\n    try {\n      const editFieldsItems = $('Edit Fields').all();\n\n      if (editFieldsItems && editFieldsItems.length > 0) {\n        // 假设我们处理第一个 item\n        const firstItem = editFieldsItems[0];\n        editFieldsData = firstItem.json || {};\n        editFieldsBinary = firstItem.binary || {};\n\n        // 2. 从 Edit Fields 的 binary 数据中提取所有以 'ckimage' 和 'cpimage' 开头的图片\n        Object.keys(editFieldsBinary).forEach(key => {\n          // 修改点：同时检查 'ckimage' 和 'cpimage' 前缀\n          if (key.startsWith('ckimage') || key.startsWith('ckimage')) {\n            // 重命名：保持原名或改成 ckimage_0, ckimage_1 等（这里保留原名，避免冲突）\n            extractedImages[key] = { ...editFieldsBinary[key] };  // 深拷贝 binary 对象\n            extractedImageCount++;\n          }\n        });\n      }\n    } catch (editFieldsErr) {\n      console.log('获取 Edit Fields 节点失败:', editFieldsErr.message);\n      return [{\n        json: {\n          error: '获取 Edit Fields 节点失败',\n          errorDetail: editFieldsErr.message\n        }\n      }];\n    }\n\n    // 调试日志\n    console.log('Edit Fields binary 总键数:', Object.keys(editFieldsBinary).length);\n    console.log('从 Edit Fields 提取到的图片数:', extractedImageCount);\n    console.log('提取到的图片键名列表:', Object.keys(extractedImages));\n\n    // 3. 返回结果\n    return [{\n      json: {\n        // Edit Fields 节点的原始 JSON 数据\n        editFieldsData: editFieldsData,\n\n        // 提取出的图片元数据\n        extractedImages: extractedImages,\n        extractedImageCount: extractedImageCount,\n        extractedImageKeys: Object.keys(extractedImages),\n\n        // 源信息\n        source: 'extracted_ckimage_cpimage_from_Edit_Fields'\n      },\n\n      // 包含所有从 Edit Fields 提取出的图片的 binary 数据\n      binary: extractedImages\n    }];\n\n  } catch (err) {\n    console.log('执行失败:', err.message);\n    return [{\n      json: {\n        error: '执行失败',\n        errorDetail: err.message\n      }\n    }];\n  }\n};\n\n// 执行并返回\nreturn processInputAndImages();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        1008
      ],
      "id": "167ce8b4-9c9a-4517-9305-3142ef2a6c31",
      "name": "提取cpimage或者ckimage"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 辅助函数：安全转字符串\nconst toStr = (v) => (v == null ? '' : String(v).trim());\n\n// 获取上游的 chatInput (保持你原有的逻辑)\nconst getChatInput = () => {\n  try {\n    // ⚠️ 注意：请确认 'Code in JavaScript4' 是否真的是你存储 chatInput 的那个节点名称\n    // 如果不是，请改成正确的节点名字，或者如果当前节点就能拿到，直接读 $input.first().json.chatInput\n    const chatInput = toStr($input.first()?.json?.chatInput);\n    return toStr(n?.json?.chatInput);\n  } catch (_) {\n    return '';\n  }\n};\n\nconst chatInput = getChatInput();\nconst base64_ckimage = [];\n\n// 遍历所有输入项 (虽然你的场景可能只有1项，但循环更稳健)\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  // 【关键】从 json 中获取动态的图片键名列表\n  // 你的数据里有一个字段叫 extractedImageKeys: [\"ckimage0\", \"ckimage1\", ...]\n  const imageKeys = item.json.extractedImageKeys || [];\n\n  // 如果没有找到动态列表，尝试用旧方法兜底（以防万一）\n  const keysToProcess = imageKeys.length > 0 \n    ? imageKeys \n    : Object.keys(item.binary || {}).filter(k => k.startsWith('ckimage') || k.startsWith('cpimage') || k.startsWith('image'));\n\n  for (const key of keysToProcess) {\n    try {\n      // 【核心】使用 helpers 读取二进制缓冲区 (完美支持 filesystem-v2)\n      // 参数：(当前项索引, 二进制字段名)\n      const buf = await this.helpers.getBinaryDataBuffer(i, key);\n      \n      if (buf) {\n        // 转换为 base64 字符串\n        const b64 = Buffer.isBuffer(buf) ? buf.toString('base64') : Buffer.from(buf).toString('base64');\n        \n        if (b64) {\n          // 如果需要带 MIME 头 (如 data:image/png;base64,...)，可以取消下面这行的注释\n          // const mimeType = item.binary[key]?.mimeType || 'image/png';\n          // base64_ckimage.push(`data:${mimeType};base64,${b64}`);\n          \n          // 仅推送纯 base64 字符串 (根据你的原代码逻辑)\n          base64_ckimage.push(b64);\n        }\n      }\n    } catch (error) {\n      console.warn(`跳过图片 ${key}: ${error.message}`);\n    }\n  }\n}\n\n// 返回单一结果，包含聊天输入和所有图片的 base64 列表\nreturn [{\n  json: {\n    chatInput,\n    base64_ckimage,\n    count: base64_ckimage.length // 额外返回一个数量，方便调试\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        1008
      ],
      "id": "e490a11b-809d-4e85-9ef0-214655b59831",
      "name": "binary转换base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99fddee7-bb43-4679-9a88-480b33ee4ea7",
              "name": "output",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5472,
        816
      ],
      "id": "a40dcb08-f222-4d3e-bc7c-ceec56f6c32c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// n8n Function Item 节点代码\n// 功能：提取二进制图片转Base64 + 透传原始文字信息 + 清洗output数据\n// ================================================\n\n// 1. 获取当前项的原始 JSON 数据（透传上游文字信息）\nconst originalJson = $input.item.json;\n\n// 2. 获取所有输入项并提取 Base64 列表\nconst items = $input.all();\nconst base64_list = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      try {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, key);\n        base64_list.push({\n          mime_type: item.binary[key].mimeType || 'image/png',\n          data: buffer.toString('base64')\n        });\n      } catch (error) {\n        console.error(`读取二进制字段 ${key} 失败:`, error);\n      }\n    }\n  }\n}\n\n// 3. 清洗 output 数据中的特殊字符\nlet cleanedOutput = '';\nif (originalJson?.inputData?.output) {\n  const rawOutput = originalJson.inputData.output;\n  \n  cleanedOutput = rawOutput\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\\\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\\r/g, '\\\\r')\n    .replace(/\\t/g, '\\\\t')\n    .trim();\n  \n  console.log('output 数据清洗完成');\n  console.log('原始长度:', rawOutput.length);\n  console.log('清洗后长度:', cleanedOutput.length);\n}\n\n// 4. 返回合并后的数据\nreturn [{\n  json: {\n    base64_list: base64_list,\n    total_images: base64_list.length,\n    inputData: {\n      ...originalJson,\n      output: cleanedOutput\n    },\n    originalOutput: originalJson?.inputData?.output || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        816
      ],
      "id": "efcfcd65-d463-4574-853d-26351207c775",
      "name": "binary转换base"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3488,
        816
      ],
      "id": "33002a87-91da-452c-b916-91db90a63def",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ================================================ \n// n8n Code 节点专用代码 \n// 功能：主动获取 Edit Fields 节点的输出数据，并提取其中所有以 'cpimage' 开头的 binary 图片 \n// 返回：包含 Edit Fields 节点的 JSON 数据和提取出的图片的数据结构 \n// ================================================ \n\nconst processInputAndImages = () => {\n  try {\n    // 1. 主动获取 Edit Fields 节点的输出数据 \n    let editFieldsData = {};\n    let editFieldsBinary = {};\n    let extractedImages = {};\n    let extractedImageCount = 0;\n\n    try {\n      const editFieldsItems = $('Edit Fields').all();\n\n      if (editFieldsItems && editFieldsItems.length > 0) {\n        // 假设我们处理第一个 item \n        const firstItem = editFieldsItems[0];\n        editFieldsData = firstItem.json || {};\n        editFieldsBinary = firstItem.binary || {};\n\n        // 2. 从 Edit Fields 的 binary 数据中提取所有以 'cpimage' 开头的图片（不包括 ckimage）\n        Object.keys(editFieldsBinary).forEach(key => {\n          // 修改点：只检查 'cpimage' 前缀，不包含 'ckimage'\n          if (key.startsWith('cpimage')) {\n            extractedImages[key] = { ...editFieldsBinary[key] };  // 深拷贝 binary 对象 \n            extractedImageCount++;\n          }\n        });\n      }\n    } catch (editFieldsErr) {\n      console.log('获取 Edit Fields 节点失败:', editFieldsErr.message);\n      return [{\n        json: {\n          error: '获取 Edit Fields 节点失败',\n          errorDetail: editFieldsErr.message\n        }\n      }];\n    }\n\n    // 调试日志 \n    console.log('Edit Fields binary 总键数:', Object.keys(editFieldsBinary).length);\n    console.log('从 Edit Fields 提取到的 cpimage 图片数:', extractedImageCount);\n    console.log('提取到的 cpimage 图片键名列表:', Object.keys(extractedImages));\n\n    // 3. 返回结果 \n    return [{\n      json: {\n        // Edit Fields 节点的原始 JSON 数据 \n        editFieldsData: editFieldsData,\n\n        // 提取出的图片元数据 \n        extractedImages: extractedImages,\n        extractedImageCount: extractedImageCount,\n        extractedImageKeys: Object.keys(extractedImages),\n\n        // 源信息 \n        source: 'extracted_cpimage_from_Edit_Fields'\n      },\n\n      // 包含所有从 Edit Fields 提取出的 cpimage 图片的 binary 数据 \n      binary: extractedImages\n    }];\n\n  } catch (err) {\n    console.log('执行失败:', err.message);\n    return [{\n      json: {\n        error: '执行失败',\n        errorDetail: err.message\n      }\n    }];\n  }\n};\n\n// 执行并返回 \nreturn processInputAndImages();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        816
      ],
      "id": "1206d405-b45f-4320-84e1-c451593ca836",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 辅助函数：安全转字符串\nconst toStr = (v) => (v == null ? '' : String(v).trim());\n\n// 获取上游的 chatInput (保持你原有的逻辑)\nconst getChatInput = () => {\n  try {\n    const chatInput = toStr($input.first()?.json?.chatInput);\n    return toStr(n?.json?.chatInput);\n  } catch (_) {\n    return '';\n  }\n};\n\nconst chatInput = getChatInput();\n\n// 【修改点】变量名从 base64_list 改为 base64_cpimage\nconst base64_cpimage = [];\n\n// 遍历所有输入项\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  // 从 json 中获取动态的图片键名列表\n  const imageKeys = item.json.extractedImageKeys || [];\n\n  // 如果没有找到动态列表，尝试用旧方法兜底\n  const keysToProcess = imageKeys.length > 0 \n    ? imageKeys \n    : Object.keys(item.binary || {}).filter(k => k.startsWith('ckimage') || k.startsWith('cpimage') || k.startsWith('image'));\n\n  for (const key of keysToProcess) {\n    try {\n      // 使用 helpers 读取二进制缓冲区\n      const buf = await this.helpers.getBinaryDataBuffer(i, key);\n      \n      if (buf) {\n        // 转换为 base64 字符串\n        const b64 = Buffer.isBuffer(buf) ? buf.toString('base64') : Buffer.from(buf).toString('base64');\n        \n        if (b64) {\n          // 【修改点】推入新变量名 base64_cpimage\n          base64_cpimage.push(b64);\n        }\n      }\n    } catch (error) {\n      console.warn(`跳过图片 ${key}: ${error.message}`);\n    }\n  }\n}\n\n// 【修改点】返回结果中使用新变量名 base64_cpimage\nreturn [{\n  json: {\n    chatInput,\n    base64_cpimage,       // 这里改了\n    count: base64_cpimage.length // 这里也对应改了\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        816
      ],
      "id": "5224e5d8-64b9-46a4-a76d-c587f639afcf",
      "name": "binary转换base64-"
    },
    {
      "parameters": {
        "jsCode": "// ================================================ \n// n8n Code 节点专用代码 \n// 功能1：提取 Edit Fields 节点中 cpimage 开头的图片\n// 功能2：从 Webhook 获取 ProductInformation 并处理成 JSON 格式\n// 功能3：收集 base64_cpimage 和 base64_ckimage 数据\n// ================================================ \n\nconst processAllData = () => {\n  try {\n    // ========== 功能1：处理 ProductInformation ==========\n    let productInfo = '';\n    \n    try {\n      // 从 Webhook 获取 ProductInformation\n      const webhookItem = $('Webhook').first();\n      if (webhookItem && webhookItem.json && webhookItem.json.body) {\n        productInfo = webhookItem.json.body['ProductInformation'] || '';\n      }\n    } catch (webhookErr) {\n      console.log('获取 Webhook 数据失败:', webhookErr.message);\n    }\n\n    // 处理 ProductInformation：清理特殊字符，使其成为有效的 JSON 字符串\n    let processedProductInfo = '';\n    if (productInfo) {\n      processedProductInfo = productInfo\n        .replace(/\\\\/g, '\\\\\\\\')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\n/g, '\\\\n')\n        .replace(/\\r/g, '\\\\r')\n        .replace(/\\t/g, '\\\\t')\n        .trim();\n    }\n\n    // ========== 功能2：处理 base64_cpimage 和 base64_ckimage ==========\n    let base64_cpimage = [];\n    let base64_ckimage = [];\n    let chatInput = '';\n\n    const items = $input.all();\n    for (const item of items) {\n      if (item.json && item.json.base64_cpimage && Array.isArray(item.json.base64_cpimage)) {\n        base64_cpimage.push(...item.json.base64_cpimage);\n      }\n      \n      if (item.json && item.json.base64_ckimage && Array.isArray(item.json.base64_ckimage)) {\n        base64_ckimage.push(...item.json.base64_ckimage);\n      }\n\n      if (item.json && !chatInput && item.json.chatInput) {\n        chatInput = item.json.chatInput;\n      }\n    }\n\n    // ========== 功能3：从 Edit Fields 提取 cpimage 图片 ==========\n    let editFieldsData = {};\n    let editFieldsBinary = {};\n    let extractedImages = {};\n    let extractedImageCount = 0;\n\n    try {\n      const editFieldsItems = $('Edit Fields').all();\n\n      if (editFieldsItems && editFieldsItems.length > 0) {\n        const firstItem = editFieldsItems[0];\n        editFieldsData = firstItem.json || {};\n        editFieldsBinary = firstItem.binary || {};\n\n        Object.keys(editFieldsBinary).forEach(key => {\n          if (key.startsWith('cpimage')) {\n            extractedImages[key] = { ...editFieldsBinary[key] };\n            extractedImageCount++;\n          }\n        });\n      }\n    } catch (editFieldsErr) {\n      console.log('获取 Edit Fields 节点失败:', editFieldsErr.message);\n    }\n\n    // ========== 输出结果 ==========\n    const result = {\n      productInfo: processedProductInfo,\n      productInfoRaw: productInfo,\n      base64_cpimage: base64_cpimage,\n      base64_ckimage: base64_ckimage,\n      chatInput: chatInput,\n      extractedImages: extractedImages,\n      extractedImageCount: extractedImageCount,\n      extractedImageKeys: Object.keys(extractedImages),\n      source: 'processed_data_with_product_info'\n    };\n\n    console.log('ProductInformation 长度:', productInfo.length);\n    console.log('处理后 ProductInformation:', processedProductInfo.substring(0, 100) + '...');\n    console.log('base64_cpimage 数量:', base64_cpimage.length);\n    console.log('base64_ckimage 数量:', base64_ckimage.length);\n    console.log('提取的 cpimage 图片数:', extractedImageCount);\n\n    return [{\n      json: result,\n      binary: extractedImages\n    }];\n\n  } catch (err) {\n    console.log('执行失败:', err.message);\n    return [{\n      json: {\n        error: '执行失败',\n        errorDetail: err.message\n      }\n    }];\n  }\n};\n\nreturn processAllData();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        816
      ],
      "id": "aca96009-f797-4ebf-b087-916ffb995d4d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// n8n Code 节点 - 提取描述和合并图像\n// 支持原有全部格式 + 中文：第一张图 + 英文：First Image / Second Image...\n// ================================================\n\nlet text = '';\nconst descriptions = {};\nconst images = {};\nlet index = 0;\n\n// 中文数字映射\nconst cnNumMap = { '一':1, '二':2, '三':3, '四':4, '五':5, '六':6, '七':7, '八':8, '九':9, '十':10 };\n// 英文顺序映射（新增！）\nconst enNumMap = {\n  'first':1, 'second':2, 'third':3, 'fourth':4, 'fifth':5,\n  'sixth':6, 'seventh':7, 'eighth':8, 'ninth':9, 'tenth':10\n};\n\n// 1. 提取所有输入项的文本和 binary\nconst allItems = $input.all();\n\nfor (let i = 0; i < allItems.length; i++) {\n  const item = allItems[i];\n  \n  // 提取文本\n  if (item.json?.output && typeof item.json.output === 'string') {\n    text += item.json.output + '\\n';\n  }\n  \n  // 提取当前 item 的 binary\n  if (item.binary) {\n    for (const originalKey in item.binary) {\n      if (Object.prototype.hasOwnProperty.call(item.binary, originalKey)) {\n        const newKey = `${++index}图`;\n        images[newKey] = {\n          ...item.binary[originalKey],\n          sourceNode: 'current_input',\n          sourceField: originalKey,\n          originalIndex: i\n        };\n      }\n    }\n  }\n}\n\n// 2. 清洗文本\ntext = text\n  .replace(/^\\s*<\\|\\s*begin_of_box\\s*\\|>\\s*/i, '')\n  .replace(/\\s*<\\|\\s*end_of_box\\s*\\|>\\s*$/i, '')\n  .trim();\n\n// 3. 解析描述 —— 优先尝试新的 JSON markdown 格式\nlet parsedFromJson = false;\n\nconst jsonBlockMatch = text.match(/```(?:json)?\\s*(\\[[\\s\\S]*?\\])\\s*```/);\nif (jsonBlockMatch) {\n  try {\n    const jsonArray = JSON.parse(jsonBlockMatch[1]);\n    if (Array.isArray(jsonArray) && jsonArray.length > 0) {\n      for (const entry of jsonArray) {\n        if (typeof entry !== 'string') continue;\n        \n        let num = null;\n        \n        // 原有阿拉伯数字规则\n        const numMatch = entry.match(/第?\\s*(\\d+)\\s*张?(?:图|图片)|图片(\\d+)|(\\d+)图|(?:image[_\\s]?)(\\d+)/i);\n        if(numMatch){\n          num = numMatch[1] || numMatch[2] || numMatch[3] || numMatch[4];\n        }\n        \n        // 中文：第一张图\n        const cnMatch = entry.match(/第([一二三四五六七八九十]+)张图/);\n        if(cnMatch && cnNumMap[cnMatch[1]]){\n          num = cnNumMap[cnMatch[1]];\n        }\n        \n        // 新增：First Image / Second Image...\n        const enMatch = entry.match(/(first|second|third|fourth|fifth|sixth|seventh|eighth|ninth|tenth)\\s*image/i);\n        if (enMatch) {\n          num = enNumMap[enMatch[1].toLowerCase()];\n        }\n\n        if (num) {\n          const colonIdx = entry.indexOf('：');\n          const colonIdx2 = entry.indexOf(':');\n          const idx = colonIdx !== -1 ? colonIdx : colonIdx2;\n          if (idx !== -1) {\n            const value = entry.substring(idx + 1).trim();\n            if (value) {\n              descriptions[`${num}图`] = value;\n              parsedFromJson = true;\n            }\n          }\n        }\n      }\n    }\n  } catch (e) {\n    console.log('JSON 解析失败，降级使用正则匹配:', e.message);\n  }\n}\n\n// 4. 用统一正则：原有全部 + 中文 + 英文\nif (!parsedFromJson || Object.keys(descriptions).length === 0) {\n  const imagePattern = /(?:第\\s*(\\d+)\\s*张(?:图|图片)|第?\\s*(\\d+)\\s*图|图片(\\d+)|(?:image[_\\s]?)(\\d+)|(\\d+)\\s*image|第([一二三四五六七八九十])张图|(first|second|third|fourth|fifth|sixth|seventh|eighth|ninth|tenth)\\s*image)/gi;\n  \n  let match;\n  const matches = [];\n  \n  while ((match = imagePattern.exec(text)) !== null) {\n    let num = match[1] || match[2] || match[3] || match[4] || match[5];\n    \n    // 中文\n    const cnChar = match[6];\n    if(cnChar && cnNumMap[cnChar]) num = cnNumMap[cnChar];\n    \n    // 新增英文\n    const enWord = match[7];\n    if (enWord) num = enNumMap[enWord.toLowerCase()];\n    \n    if (num) {\n      matches.push({ index: match.index, num: Number(num), length: match[0].length });\n    }\n  }\n  \n  // 根据位置切分描述文本\n  for (let i = 0; i < matches.length; i++) {\n    const current = matches[i];\n    const next = matches[i + 1];\n    const startIdx = current.index + current.length;\n    const endIdx = next ? next.index : text.length;\n    \n    let descText = text.substring(startIdx, endIdx)\n      .replace(/^[：:\\s—\\-–]+/, '')\n      .replace(/\\n+$/, '')\n      .trim();\n    \n    if (descText && current.num) {\n      descriptions[`${current.num}图`] = descText;\n    }\n  }\n  \n  // 兜底：旧格式\n  if (Object.keys(descriptions).length === 0) {\n    const pattern = /第\\s*(\\d+)\\s*张图片([（(][^）)]+[）)])\\s*[：:]\\s*([\\s\\S]*?)(?=第\\s*\\d+\\s*张图片|$)/g;\n    while ((match = pattern.exec(text)) !== null) {\n      const num = match[1];\n      const size = match[2];\n      let value = match[3].trim().replace(/\\n+$/, '');\n      if (value) {\n        descriptions[`${num}图`] = `第 ${num} 张图片${size}：${value}`;\n      }\n    }\n  }\n}\n\n// 5. 从 Edit Fields 节点提取 cpimage 开头的 binary\nlet editFieldsImageCount = 0;\nlet editFieldsConnected = false;\n\ntry {\n  let editFieldsNode;\n  try { editFieldsNode = $('Edit Fields'); } catch(e) {}\n  try { if (!editFieldsNode) editFieldsNode = $('Edit_Fields'); } catch(e) {}\n  try { if (!editFieldsNode) editFieldsNode = $('edit-fields'); } catch(e) {}\n  try { if (!editFieldsNode) editFieldsNode = $('Edit Fields2'); } catch(e) {}\n  \n  const editFieldsOutput = editFieldsNode ? editFieldsNode.all() : [];\n  \n  for (const item of editFieldsOutput) {\n    if (!item?.binary) continue;\n    for (const key in item.binary) {\n      if (key.startsWith('cpimage')) {\n        const newKey = `${++index}图`;\n        images[newKey] = {\n          ...item.binary[key],\n          sourceNode: 'Edit Fields',\n          sourceField: key\n        };\n        editFieldsImageCount++;\n      }\n    }\n  }\n  editFieldsConnected = editFieldsImageCount > 0;\n} catch (err) {\n  console.error(\"Edit Fields node error:\", err.message);\n}\n\n// 6. 输出\nreturn [{\n  json: {\n    descriptions,\n    images: Object.keys(images),\n    imageCount: Object.keys(images).length,\n    descriptionCount: Object.keys(descriptions).length,\n    inputImageCount: index - editFieldsImageCount,\n    editFieldsImageCount,\n    editFieldsConnected,\n    matchedPairs: Object.keys(descriptions).filter(k => images[k]).length,\n    parsedFromJson\n  },\n  binary: images\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5696,
        816
      ],
      "id": "c3e86399-8c04-42c6-8dab-b0c175c78e0a",
      "name": "提示词分段提取图片1"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入数据\nconst allItems = $input.all();\n\n// 假设所有的图片都在第一个输入 Item 中（通常 n8n 会把 binary 放在第一个 item 或均匀分布）\n// 我们先提取出所有的 binary 数据\nconst allBinaries = {};\nallItems.forEach(item => {\n  if (item.binary) {\n    Object.assign(allBinaries, item.binary);\n  }\n});\n\nlet results = [];\n\n// 遍历输入，提取 descriptions 下的所有图\n// 假设 descriptions 在第一个 Item 的 json 中\nconst descriptions = allItems[0].json.descriptions;\n\nfor (const key in descriptions) {\n  results.push({\n    json: {\n      image_key: key,            // 对应 \"1图\", \"2图\" 等\n      prompt: descriptions[key]  // 对应具体的描述文本\n    },\n    // 将之前收集到的所有二进制数据完整复制给每一个 item\n    binary: { ...allBinaries } \n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        816
      ],
      "id": "75161e83-9b55-425a-8f0a-e3e9e5cfe28d",
      "name": "提示词图片排列组合"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "395ca466-1e30-4f01-9014-406e868fd7e7",
              "name": "output",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        816
      ],
      "id": "97eb2cbf-600e-4cc3-b940-fbacb0f717ee",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// 同时提取 ckimage 和 cpimage 开头的 binary\n// 只有两个前缀都存在图片时，才提取；否则不提取（binary 返回空）\n\nconst binary = $input.item.binary || {};\n\nconst hasCkimage = Object.keys(binary).some(key => key.startsWith('ckimage'));\nconst hasCpimage = Object.keys(binary).some(key => key.startsWith('cpimage'));\n\n// 只有两个前缀都存在，才进行提取\nif (!hasCkimage || !hasCpimage) {\n  console.log('缺少 ckimage 或 cpimage 前缀的图片，不进行提取');\n  return [{\n    json: {\n      message: \"缺少 ckimage 或 cpimage 前缀的图片，不提取 binary\",\n      hasCkimage: hasCkimage,\n      hasCpimage: hasCpimage,\n      extracted: false\n    },\n    binary: {}   // 不返回任何 binary\n  }];\n}\n\n// 两个前缀都存在，开始提取并重命名\nconst extractedBinary = {};\n\nlet index = 1;\n\n// 提取 ckimage 开头的\nObject.keys(binary).forEach(key => {\n  if (key.startsWith('ckimage')) {\n    extractedBinary[`ckimage_${index}`] = { ...binary[key] };\n    index++;\n  }\n});\n\n// 提取 cpimage 开头的（继续编号）\nObject.keys(binary).forEach(key => {\n  if (key.startsWith('cpimage')) {\n    extractedBinary[`cpimage_${index}`] = { ...binary[key] };\n    index++;\n  }\n});\n\nconsole.log(`成功提取 ckimage 和 cpimage 图片，共 ${index - 1} 张`);\n\nreturn [{\n  json: {\n    message: \"成功提取 ckimage 和 cpimage 的图片\",\n    ckimageCount: Object.keys(binary).filter(k => k.startsWith('ckimage')).length,\n    cpimageCount: Object.keys(binary).filter(k => k.startsWith('cpimage')).length,\n    extracted: true\n  },\n  binary: extractedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        832
      ],
      "id": "97e50417-547a-4c0b-9935-9effdd8a4de7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1795c777-8f41-4efc-9afb-782647724168",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        672
      ],
      "id": "47106076-c263-43f9-a3e5-56adf88cfd06",
      "name": "Webhook",
      "webhookId": "1795c777-8f41-4efc-9afb-782647724168"
    },
    {
      "parameters": {
        "operation": "imageToImage",
        "model": "gemini-3-pro-image-preview",
        "prompt": "={{ $json.prompt }}",
        "referenceImages": "=1图",
        "aspectRatio": "21:9",
        "outputPropertyName": "1",
        "options": {}
      },
      "type": "n8n-nodes-nano-banana.nanoBanana",
      "typeVersion": 1,
      "position": [
        6800,
        736
      ],
      "id": "306f7583-96f2-4d14-94b5-c6ea68ba6cd7",
      "name": "Nano Banana1",
      "retryOnFail": true,
      "credentials": {
        "nanoBananaApi": {
          "id": "HzuEvKQzrccWbQ01",
          "name": "Nano Banana account"
        }
      }
    },
    {
      "parameters": {
        "operation": "imageToImage",
        "model": "gemini-3-pro-image-preview",
        "prompt": "={{ $json.prompt }}",
        "referenceImages": "1图\n2图",
        "aspectRatio": "21:9",
        "outputPropertyName": "2",
        "options": {}
      },
      "type": "n8n-nodes-nano-banana.nanoBanana",
      "typeVersion": 1,
      "position": [
        6800,
        944
      ],
      "id": "207726b6-981d-4332-bddd-0844b39ab414",
      "name": "Nano Banana2",
      "retryOnFail": true,
      "credentials": {
        "nanoBananaApi": {
          "id": "HzuEvKQzrccWbQ01",
          "name": "Nano Banana account"
        }
      }
    },
    {
      "parameters": {
        "operation": "imageToImage",
        "model": "gemini-3-pro-image-preview",
        "prompt": "={{ $json.prompt }}",
        "referenceImages": "1图\n2图\n3图",
        "aspectRatio": "21:9",
        "outputPropertyName": "3",
        "options": {}
      },
      "type": "n8n-nodes-nano-banana.nanoBanana",
      "typeVersion": 1,
      "position": [
        6800,
        1168
      ],
      "id": "acbf2cd0-87c1-402d-8236-5a70908b5b48",
      "name": "Nano Banana3",
      "retryOnFail": true,
      "credentials": {
        "nanoBananaApi": {
          "id": "HzuEvKQzrccWbQ01",
          "name": "Nano Banana account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": 200,\n  \"taskId\": \"{{ $json.taskId }}\",\n  \"message\": \"图片正在生成中\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -304,
        992
      ],
      "id": "5f2345ae-2da2-42db-ae32-c16314656e83",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7488,
        1024
      ],
      "id": "577cac59-4b76-4e1d-90b9-332086f94191",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.folderPath }}/{{$binary.data.fileName}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        7744,
        1040
      ],
      "id": "859783d8-410a-4ccc-9e92-faa4464d7549",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入项 \nconst items = $input.all(); \n \n// 收集所有图片路径 \nconst imagePaths = []; \n \n// 提取 taskId \nlet taskId = null; \n \nfor (const item of items) { \n  const json = item.json; \n   \n  // 提取 taskId \n  if (json.taskId && !taskId) { \n    taskId = json.taskId; \n  } \n   \n  // 提取图片路径（从 /2026 开始） \n  if (json.savePath) { \n    const pathParts = json.savePath.split('/'); \n    const yearIndex = pathParts.indexOf('2026'); \n     \n    if (yearIndex !== -1) { \n      const relativePath = '/' + pathParts.slice(yearIndex).join('/'); \n      imagePaths.push(relativePath); \n    } \n  } \n} \n \n// 直接输出带双引号的字符串格式\nconst imagePathsWithQuotes = imagePaths.map(path => `\"${path}\"`).join(',');\n\nreturn [{ \n  json: { \n    taskId: taskId, \n    imageCount: imagePaths.length, \n    // 直接带双引号的格式\n    imagePathsComma: imagePathsWithQuotes, \n    imagePaths: imagePaths,\n    paths: imagePaths\n  } \n}]; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7744,
        816
      ],
      "id": "5becf528-fcc3-4891-8de0-62e501eeea78",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c756a138-fd00-476d-b9a8-f97c9d830a83",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "23b1850a-7af3-4b1a-87c1-678821df7da2",
              "name": "body.ProductInformation",
              "value": "={{ $json.body.ProductInformation }}",
              "type": "string"
            },
            {
              "id": "e8684023-1694-43c6-9bb4-26894beffd6e",
              "name": "ckimageUrls",
              "value": "={{ $json.ckimageUrls }}",
              "type": "array"
            },
            {
              "id": "9e2ee3a1-fae1-4e56-a4c8-70d9c3f7abfb",
              "name": "cpimageUrls",
              "value": "={{ $json.cpimageUrls }}",
              "type": "array"
            },
            {
              "id": "9dae4446-8562-42c3-a995-919a87abcb6a",
              "name": "body.language",
              "value": "={{ $json.body.language }}",
              "type": "string"
            },
            {
              "id": "f666efcc-5902-4953-9bd1-6613e186ceb9",
              "name": "body.mark",
              "value": "={{ $json.body.mark }}",
              "type": "string"
            },
            {
              "id": "50a09f24-c52c-4da1-9283-4e1a05d94b2e",
              "name": "taskId",
              "value": "={{ $json.taskId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        880
      ],
      "id": "b76bdc9a-790e-474a-9e47-8c3f1591e1ba",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// 处理 ckimageUrls - 将每个图片地址拆分成单独的 item\n// ================================================\n\nconst items = $input.all();\nconst firstItem = items[0] || {};\nconst ckimageUrls = firstItem.json?.ckimageUrls || [];\n\nif (ckimageUrls.length === 0) {\n  console.log('警告: ckimageUrls 为空');\n  return [{ json: { error: '没有 ckimage 图片地址' } }];\n}\n\n// 将每个图片地址转换为一个 item\nconst results = ckimageUrls.map((url, index) => ({\n  json: {\n    imageUrl: url,\n    imageIndex: index + 1,\n    imageType: 'ckimage',\n    imageKey: `ckimage_${index + 1}`\n  }\n}));\n\nconsole.log(`处理 ${ckimageUrls.length} 个 ckimage 图片地址`);\nconsole.log('地址列表:', ckimageUrls);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        784
      ],
      "id": "0b6826ba-f9b9-477a-98cd-4e64409d5df6",
      "name": "ckimage"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// 处理 cpimageUrls - 将每个图片地址拆分成单独的 item\n// ================================================\n\nconst items = $input.all();\nconst firstItem = items[0] || {};\nconst cpimageUrls = firstItem.json?.cpimageUrls || [];\n\nif (cpimageUrls.length === 0) {\n  console.log('警告: cpimageUrls 为空');\n  return [{ json: { error: '没有 cpimage 图片地址' } }];\n}\n\n// 将每个图片地址转换为一个 item\nconst results = cpimageUrls.map((url, index) => ({\n  json: {\n    imageUrl: url,\n    imageIndex: index + 1,\n    imageType: 'cpimage',\n    imageKey: `cpimage_${index + 1}`\n  }\n}));\n\nconsole.log(`处理 ${cpimageUrls.length} 个 cpimage 图片地址`);\nconsole.log('地址列表:', cpimageUrls);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1168
      ],
      "id": "6a2ebd30-f640-4b01-9312-e115fa63291c",
      "name": "cpimage"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        784
      ],
      "id": "4adea9ff-d203-4c5c-a215-9e931d81d9d0",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入项\nconst items = $input.all();\n\n// 创建合并后的新 item\nconst mergedItem = {\n  json: {},\n  binary: {}\n};\n\n// 遍历所有 item，收集 binary 数据\nlet imageIndex = 1;\nfor (const item of items) {\n  if (item.binary) {\n    // 遍历该项的所有 binary 属性\n    for (const [key, value] of Object.entries(item.binary)) {\n      mergedItem.binary[`ckimage_${imageIndex}`] = value;\n      imageIndex++;\n    }\n  }\n}\n\n// 设置元数据\nmergedItem.json.totalImages = imageIndex - 1;\n\n// 输出合并后的单个 item\nreturn [mergedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        640
      ],
      "id": "9214a76a-bfdd-47b6-8ca2-d2e192436a27",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        832
      ],
      "id": "2fc379fa-db9e-4d0d-b5ab-756bbf9e2bd4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        1168
      ],
      "id": "5aad0ccb-b4cc-4afa-b839-887a82649d6a",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        832,
        1216
      ],
      "id": "04954454-560b-4d2b-a383-2fa42fd8f70b",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入项\nconst items = $input.all();\n\n// 创建合并后的新 item\nconst mergedItem = {\n  json: {},\n  binary: {}\n};\n\n// 遍历所有 item，收集 binary 数据\nlet imageIndex = 1;\nfor (const item of items) {\n  if (item.binary) {\n    // 遍历该项的所有 binary 属性\n    for (const [key, value] of Object.entries(item.binary)) {\n      mergedItem.binary[`cpimage_${imageIndex}`] = value;\n      imageIndex++;\n    }\n  }\n}\n\n// 设置元数据\nmergedItem.json.totalImages = imageIndex - 1;\n\n// 输出合并后的单个 item\nreturn [mergedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1024
      ],
      "id": "730f7eb3-e33f-4ba3-965a-cfd122fafb9f",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mergedItem = {\n  json: {},\n  binary: {}\n};\n\nfor (const item of items) {\n  if (item.binary) {\n    for (const [key, value] of Object.entries(item.binary)) {\n      mergedItem.binary[key] = value;\n    }\n  }\n}\n\nmergedItem.json.totalItems = items.length;\nmergedItem.json.totalImages = Object.keys(mergedItem.binary).length;\n\nreturn [mergedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        832
      ],
      "id": "27a7f730-89c2-4aa4-b52c-369968652296",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.surces.com/api/aplus_image/task_result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task_id\": \"{{ $json.taskId }}\", \n\"file_path\": [{{ $json.imagePathsComma }}],\n\"nsfw\": 0, \n\"mark\": \"aplus_image\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7920,
        816
      ],
      "id": "fe3240a4-8e5a-49ae-84ee-8ad2c0596aad",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// ================================================ \n// 处理 webhook 数据 + 生成任务ID和预定义路径 \n// 1. 在 ckimage 和 cpimage 路径前加基础路径 \n// 2. 提取完整的图片地址 \n// 3. 生成 task_时间戳_随机字符串 格式的任务ID \n// 4. 预定义图片保存路径和轮询URL \n// 说明：本节点不再 require('fs') / require('path')，\n//      目录创建交给下游 Read/Write Files from Disk 节点处理（recursive 自动建）\n// ================================================ \n\nconst items = $input.all(); \nconst firstItem = items[0] || {}; \nconst body = firstItem.json?.body || {}; \n\nconst basePath = '/home/node/.n8n/AI-WEB'; \n\nconst now = new Date(); \nconst yyyy = String(now.getFullYear()); \nconst mm = String(now.getMonth() + 1).padStart(2, '0'); \nconst dd = String(now.getDate()).padStart(2, '0'); \nconst imageBasePath = `${basePath}/${yyyy}/${mm}/${dd}`; \n\n// 使用task_时间戳_随机字符串格式 \nconst chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'; \nlet randomStr = ''; \nfor (let i = 0; i < 12; i++) { \n  randomStr += chars.charAt(Math.floor(Math.random() * chars.length)); \n} \nconst taskId = `task_${Date.now()}_${randomStr}`; \n\n// 用模板字符串代替 path.join（Linux 路径，统一用 /）\nconst folderPath = `${imageBasePath}/${taskId}`; \n\nconst n8nHost = 'http://localhost:5678'; \n\nconst processImagePaths = (paths) => { \n  if (!paths || !Array.isArray(paths)) return []; \n  return paths.map(p => { \n    const cleanPath = p.startsWith('/') ? p.substring(1) : p; \n    return `${basePath}/${cleanPath}`; \n  }); \n}; \n\nconst ckimageUrls = processImagePaths(body.ckimage); \nconst cpimageUrls = processImagePaths(body.cpimage); \nconst allImageUrls = [...ckimageUrls, ...cpimageUrls]; \n\nconsole.log('ckimage 完整路径:', ckimageUrls); \nconsole.log('cpimage 完整路径:', cpimageUrls); \nconsole.log('所有图片路径:', allImageUrls); \n\n$execution.customData.set('taskId', taskId); \n$execution.customData.set('basePath', basePath); \n$execution.customData.set('imageBasePath', imageBasePath); \n$execution.customData.set('n8nHost', n8nHost); \n\n// 取消前端传入的 number；改为按 ckimage 数组长度自动计算（去掉空字符串后） \nlet imageCount = 0; \nif (Array.isArray(body.ckimage)) { \n  imageCount = body.ckimage.filter(v => v !== undefined && v !== null && String(v).trim() !== '').length; \n} \nif (imageCount < 0) imageCount = 0; \n\nconst imageKeys = []; \nfor (let i = 1; i <= imageCount; i++) { \n  imageKeys.push(`${i}图`); \n} \n\nconst imageUrls = imageKeys.map((key) => ({ \n  name: key, \n  pollUrl: `${n8nHost}/webhook/poll-image?taskId=${taskId}&imageKey=${key}`, \n  localPath: `${imageBasePath}/${taskId}/${key}.png` \n})); \n\nconsole.log('生成的任务ID:', taskId); \nconsole.log('预定义的图片URLs:', imageUrls); \n\nreturn [{ \n  json: { \n    ...firstItem.json, \n    originalBody: body, \n    ckimageUrls: ckimageUrls, \n    cpimageUrls: cpimageUrls, \n    allImageUrls: allImageUrls, \n    totalImages: allImageUrls.length, \n    basePath: basePath, \n    taskId: taskId, \n    imageBasePath: imageBasePath, \n    imageCount: imageCount, \n    number: String(imageCount),  // 兼容下游：从 ckimage 数量自动生成 \n    imageUrls: imageUrls, \n    folderPath: folderPath, \n    year: yyyy, \n    month: mm, \n    day: dd, \n    _meta: { \n      generatedAt: new Date().toISOString(), \n      promptReady: true, \n      imageGenerating: true \n    } \n  }, \n  binary: firstItem.binary || {} \n}]; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        992
      ],
      "id": "77b9f91f-3386-42a8-b7fc-49f1929dcadf",
      "name": "path"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// 字段完整性校验节点\n// 检查 body 中是否包含所有必填字段\n// 缺少字段时输出 error，由下游 IF 节点路由到 HTTP 反馈\n// 所有字段正常则原封不动传入下一节点\n// ================================================\n\nconst items = $input.all();\n\n// 定义必填字段列表\nconst requiredFields = [\n  'name',\n  'ProductInformation',\n  'ckimage',\n  'cpimage',\n  'language'\n  // number / color / aspect_ratio 已取消，前端不再传入\n];\n\n// 检查每个 item 的字段完整性\nconst results = items.map((item) => {\n  const data = item.json;\n\n  // 优先从 body 中取字段，取不到再从顶层取\n  const source = data.body || data;\n\n  // 找出缺失的字段\n  const missingFields = requiredFields.filter((field) => {\n    const value = source[field];\n    \n    // 如果值是数组，过滤掉空字符串后检查是否还有有效数据\n    if (Array.isArray(value)) {\n      const validItems = value.filter(v => v !== undefined && v !== null && v !== '');\n      return validItems.length === 0;\n    }\n    \n    return value === undefined || value === null || value === '';\n  });\n\n  if (missingFields.length > 0) {\n    return {\n      json: {\n        ...data,\n        success: false,\n        error: true,\n        errorMessage: `缺少必填字段: ${missingFields.join(', ')}`\n      }\n    };\n  }\n\n  // 所有字段正常，原封不动传递\n  return {\n    json: {\n      ...data,\n      success: true,\n      error: false\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        992
      ],
      "id": "68b69c04-2529-42b1-98b8-34bdd8e2f5b2",
      "name": "字段校验"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "108623bc-b5d3-4b66-892d-235d95aa98eb",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        992
      ],
      "id": "a638e00f-99e4-4a6c-be3d-1158b358c08a",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.surces.com/api/aplus_image/task_result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task_id\": \"{{ $json.taskId }}\", \n\"file_path\": [\"{{ $json.folderPath }}\"], \n\"nsfw\": 0, \n\"mark\": \"aplus_image\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        1088
      ],
      "id": "d738a025-9351-4aa5-94aa-a382809423f9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.surces.com/api/aplus_image/task_result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task_id\": \"{{ $('path').item.json.taskId }}\", \n\"file_path\": [\"{{ $('path').item.json.folderPath }}\"], \n\"nsfw\": 0, \n\"mark\": \"aplus_image\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        736
      ],
      "id": "86decc3d-d12d-420c-b952-b2588b976642",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "图片压缩，转base64\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 896,
        "width": 1712,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        544
      ],
      "id": "2f7f8b59-7433-416c-85dc-754171629a34",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "接收数据进行校验，处理路径",
        "height": 864,
        "width": 1120,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        560
      ],
      "id": "7cd4d23d-bc2c-4c23-9667-f6eaa1082d13",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "大模型风格反推，提示词生成\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 912,
        "width": 2376,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3904,
        544
      ],
      "id": "eb0e8f36-6d91-456e-9aad-f735f0c0283d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "nanobanana生图\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 912,
        "width": 944,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6288,
        544
      ],
      "id": "1cdaa99b-fccb-4579-8a97-b841e9b92f98",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "图片储存\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 912,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7248,
        544
      ],
      "id": "93c1547d-60b4-42f6-af52-84e866556c0b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "提取图片，工后续处理",
        "height": 896,
        "width": 1808,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        544
      ],
      "id": "a05141d2-6fbc-4d39-81c4-5a1ba54df84b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// 构建 Gemini API 请求体\n// 纯 JavaScript 拼装，模板字符串随意换行用引号\n// ================================================\n\nconst json = $input.first().json;\n\n// 从上游提取参数\nconst number = json.number || $('Edit Fields1').item.json.body.number || 2;\nconst language = json.language || $('Edit Fields1').item.json.body.language || '英文';\nconst color = json.color || $('Edit Fields1').item.json.body.color || '#000000';\nconst productInfo = json.productInfo || '';\nconst base64_cpimage = json.base64_cpimage || [];\nconst base64_ckimage = json.base64_ckimage || [];\n\n// ================================================\n// 完整 Prompt 文本（随意换行、使用引号，无任何转义压力）\n// ================================================\nconst promptText = `Amazon A+ 详情图设计方案（参考图增强版）\n\n## 角色\n你是一个顶级亚马逊跨境多模态电商 Agent。你完美融合了“资深图像文案专家”、“视觉字体适配专家”与“排版骨架解构专家”的三重核心能力。你精通亚马逊 Home & Kitchen 类目的各项规则及海外（欧美）用户的表达习惯，具备极强的多模态图像信息拆解、产品卖点提炼、像素级视觉美学感知与空间结构抽象能力。\n\n## 接收输入\n- 产品文字信息（产品名称、品类、品牌定位、核心卖点、目标人群、语言版本等）\n- 多张 binary 图片（产品图+布局参考图）\n- 需要生成的模块图数量: ${number}\n- 语言版本: ${language}\n- 用户颜色：${color}\n\n## 核心技能（按顺序严格执行）\n\nTask\n请对用户上传的产品图片进行智能识别与多维度深层拆解，并严格按照以下规定的 “固定输出模块” 进行结构化输出。输出格式、模块顺序、用语规范必须完全遵循要求。文案类解析模块自带分支判定：画面存在文案则完整解析，画面无文案则对应条目跳过不生成详情、仅备注无文案，禁止凭空编造文字区域。\n商品信息提取\n真实识别与专业文案：文案生成必须基于图片真实内容，严禁凭空捏造功能或材质。全程使用书面、地道的跨境电商语气，完美适配亚马逊 Listing（标题、五点）、A+ 页面及产品长描述。\n欧美认知与极简风格：所有描述必须高度贴合欧美消费者的日常认知与文化习惯。词汇需专业、客观、干练，不进行夸大宣传。\n字体适配逻辑：必须严格在预设的限定字体库中进行组合搭配，不得自行引入其他字体。若产品跨界，优先选择最能打动核心受众的品类视觉调性。\n排版解构原则：在提取排版时，严禁描述任何颜色名称（如蓝色、浅色）或风格形容词（如温馨、科技感），严禁描述绝对画布比例，必须聚焦于纯物理结构、空间切分、图块坐标及图层前后遮叠顺序。\n格式合规：输出时模块名称与 Markdown 结构固定不变，内容逐条填充。严禁增减模块、严禁修改格式，严禁在输出中包含任何多余的引言、问候语或横线。\n字体方案\n预设字体库\n【基础通用群体】 Inter（正文首选）/ SF Pro（高质感正文备选）/ Montserrat（通用标题）\n【美妆护肤品类】 正文: DM Sans 或 Poppins（低字重 300/400）/ 标题点缀: Didot（仅限大标题 / 品牌词）\n【母婴儿童品类】 正文: Nunito 或 Quicksand（圆润亲和）/ 标题: Baloo 2 或 Poppins（低字重）\n【运动户外品类】 正文: Bebas Neue 或 Oswald（力量感）/ 标题: Inter Bold 或 Anton（高冲击力）\n【复古文艺品类】 主体: Source Serif 4 或 Libre Franklin / 做旧排版: Work Sans\n风格颜色\n品牌色判定与主导逻辑（核心）：\n优先检查用户是否输入了特定的品牌主色色值（例如：#79846c）。若有，品牌色必须严格使用该色值。若无，默认选用 “科技蓝 #007AFF”。\n当用户自定义颜色较少或属于弱势色时，必须采用 “大面积背景统领 / 渐变层叠 / 暗调全屏蒙版” 的方式，将其揉碎融入排版与衍生色中，使其在画面中占据视觉主导。\n当背景大面积使用品牌色及其暗调衍生色时，顶层字体颜色反向置换为高对比度的 “纯白 #FFFFFF”，利用反白形成极强的视觉聚焦。\n色彩总量与搭配规范：\n基础色（固定基底）：纯白 #FFFFFF，深灰 #333333（用于页面大面积留白背景、反白文本或基础线框）。\n品牌色 + 点缀色：总色种严格 ≤ 4 种。\n点缀色（小面积使用，按品类匹配，占比 5% 以内）：\n美妆品类：珠光金 #E6CA65 或 玫瑰金 #B76E79\n母婴品类：浅粉 #FFC0CB 或 浅蓝 #ADD8E6\n运动户外：橙红 #FF4500 或 荧光绿 #32CD32\n通用 / 其他：荧光绿 #32CD32 或 电光蓝 #0033FF\n衍生色：基于选定的 “品牌色”，提取一个 10%、15% 或 40% 的 “低透明度版本”（用于半透明蒙版、氛围滤镜层或卡片容器底衬，增强画面层次感，不计入新增色种）。\n排版提取\n排版提取执行准则，全程只做物理结构拆解，不做营销、配色、画风、审美分析：\n1. 色彩 & 风格禁令：全程不出现任何色彩名词、画风形容词（温馨 / 极简 / 工业风等），所有画面色彩、视觉风格全部留白，交由后续自定义。\n2. 画布比例禁令：不标定整张画布固定长宽比，仅提取画面内部元素之间的相对空间占比、位置关系。\n3. 版式大类判定（最高优先级）：\n区分两类版式：①分块割裂版式：画面由多个独立图块拼接组成；②全景一体版式：底层是一张完整连续背景画面，文字悬浮叠加在画面上层。\n全景一体版式严禁人为强行切块分区；若局部依托背景天然留白区域承载文字，标注留白形成位置与区域范围，不切割底层背景。\n4. 物体形态禁令：不把产品、配饰抽象为立方体、圆柱等几何体，统一使用占位词：主体产品、次要配饰、环境道具，仅标注摆放位置、画面体量占比、前后空间关系。\n5. 提取内容五大固定模块，仅描述客观物理结构：\n6. 空间定位：依托画面九宫格逻辑描述位置，统一使用相对画面占比表述留白；\n7. 构图透视：用专业术语标注景深、前后图层叠压顺序、遮挡关系；\n8. 主体信息：画面含人物：标注年龄区间、人种、性别；无人物：标注画面视觉重心主体（主体产品）；\n9. 文案结构：分支规则：图片含有可见文案则完整拆分主标题区、副标题区、辅助小字区，标注各自对齐方式（居中 / 左对齐 / 右对齐）、区块相对位置、区块间距、文字承载底衬形态与边界范围；图片无任何文案，本项仅填写：本参考图无文案，不再展开任何文字相关解析内容；\n10. 光影参数：仅记录光源方向、光源软硬属性、光照强弱、光源来源位置；禁止出现色温、色调、氛围感、冷暖等修饰描述，禁止主观光影美化描述。\n11. 细节要求：禁用大概、少许、偏多等模糊词汇，场景空间排布、区块边界描述量化严谨。\n输出模块\n商品信息提取：\n[产品名称]\n仅生成 1 个核心名称（不要提供多个备选）。需完美整合产品的核心关键词、外观、主要功能及关键配件。用词必须高度贴合亚马逊前台电商风格，简洁且精准。\n[目标受众 & 使用场景]\n人群定位：精准定位消费人群，明确列出核心受众（如精致宝妈、租房一族等）。\n应用场景：明确列出该产品在居家、出行、宿舍、搬家等全场景中的具体应用与适用环境。\n[核心卖点描述]\n分点提炼产品的差异化优势与功能亮点（建议 4 点）。必须使用海外电商高频常用的专业词汇（如 Airtight, Heavy-duty, Space-saving 等），语句简洁流畅，直击痛点并突出实用价值。\n[材质 & 工艺 & 结构]\n详细说明以下物理细节（分点陈述）：\n主体材质与辅料名称（如食品级塑料、加厚 PVC 等）。\n做工工艺与工艺细节（如车线工艺、加固缝纫等）。 * 产品的物理结构、耐用性表现以及空间优势（如立体可堆叠、一体化无分隔等）。\n[使用步骤]\n分点（使用 1. 2. 3. 4.）简述该产品的标准使用流程。确保步骤清晰、前后逻辑连贯、语言极简无废话。\n[亚马逊标准类目路径]\n严格匹配亚马逊前台官方最新的类目层级节点。格式必须严格为：一级类目 > 二级类目 > 三级类目 > 末级类目。\n字体方案\n主字体: [字体名称]（正文，[建议字号，如 16px]）\n标题字体: [字体名称]（[字重规范，如 700 字重]，[建议字号，如 24px]）\n强调字体: [字体名称]（[字重规范，如 400 字重]，[建议字号，如 14px]）\n风格颜色 ：\n整体风格：[风格名称]。[结合品类特征的核心视觉表达重点与受众痛点]。\n色彩矩阵与配色逻辑：\n基础色: [色值]（用途说明）\n品牌色: [色值]（用户提供色或默认色，注明如何统领大盘视觉）\n点缀色: [色值]（辅助色，注明极小面积的功能点缀用途）\n衍生色: [色值]-[透明度 %]（层次感，注明用于哪种蒙版或底衬）\n配色逻辑: [说明品牌色、反白基础色与点缀色在场景和转化重点上的绑定逻辑]\n图 1：\n空间布局形态：\n[空间形态：必须明确指出属于全景一体流（无切分）或物理分割流。][空间借用占比：若是全景一体流，需说明文字由于悬浮在画中，它借用 / 占领了画布哪个方位的多大空间。][网格分布：描述是否存在多栏并列矩形等网格矩阵及相对间距。]\n文字底衬与悬浮形态：分支：图内存在文案才填写本条内容；无文案直接整项跳过，不输出任何内容\n[必须从裸露悬浮（完全透明且无底衬）、方向性渐变色块、不透明纯色块 / 毛玻璃容器中选择并定位精确描述。]\n主体容器与空间位置：\n[核心产品 / 主体位置：明确产品 / 主体在画面中的落脚点、摆放姿态以及相对体量占比。][配饰与道具分布：明确次要配饰或背景道具的分布逻辑。][裁剪蒙版：明确元素边缘是否被限制在某个矩形或圆形线框容器内。]\n文字锚点与隐形边界：分支：图内存在文案才填写本条内容；无文案直接整项跳过，不输出任何内容\n[文字层级与对齐：提取文字层级体量对比和绝对对齐线。][隐形边界（Text Boundary）：必须标出隐形边界，限制悬浮文案的水平跨度或折行极限，防撞击。]\n图层前后遮叠顺序：\n[空间叠加逻辑：从底到顶清晰梳理所有元素的物理空间叠加逻辑，使用格式如：底层：全宽背景 -> 中层：核心产品与配饰 -> 顶层：完全裸露悬浮的文本。]\n6. 空间定位：\n7. 构图透视：\n8. 主体信息：\n9. 文案结构：遵循上方排版提取第 9 条分支规则\n10. 光影参数：\n11. 细节要求：\n\n图2：.....\n\n\n附加强制约束（最末尾固定，防止 AI 越界）\n图片有无文案以图像实际画面为准，禁止脑补、虚构不存在的文字区域、文字底衬、文字锚点；\n触发无文案规则后，全部文字相关条目静默空项 / 标注无文案，布局、主体、图层、光影、透视、场景等非文字模块照常完整解析`;\n\n// ================================================\n// 构建 parts 数组\n// ================================================\nconst parts = [\n  { text: promptText },\n  { text: `以下是用户提供的产品背景文字信息：${productInfo}` }\n];\n\n// 添加产品图\nif (base64_cpimage.length > 0) {\n  parts.push({ text: '产品图：' });\n  for (const base64 of base64_cpimage) {\n    parts.push({\n      inline_data: { mime_type: 'image/webp', data: base64 }\n    });\n  }\n}\n\n// 添加参考图\nif (base64_ckimage.length > 0) {\n  parts.push({ text: '参考图：' });\n  for (const base64 of base64_ckimage) {\n    parts.push({\n      inline_data: { mime_type: 'image/webp', data: base64 }\n    });\n  }\n}\n\n// ================================================\n// 组装完整请求体 & 输出\n// ================================================\nconst requestBody = {\n  contents: [{ parts }]\n};\n\nreturn [{\n  json: {\n    ...json,\n\n    // 给下游 HTTP 节点直接引用（推荐）\n    requestBody: requestBody,\n\n    // 备用：已序列化的 JSON 字符串\n    requestBodyJson: JSON.stringify(requestBody),\n\n    // 调试信息\n    _debug: {\n      imageCount: base64_cpimage.length + base64_ckimage.length,\n      hasProductImages: base64_cpimage.length > 0,\n      hasReferenceImages: base64_ckimage.length > 0\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        1056
      ],
      "id": "28bb076b-c81e-41e8-a90c-597b1cd4f723",
      "name": "数据处理"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// 构建第二个 Gemini API 请求体（提示词生成）\n// 纯 JavaScript 拼装，无需模板语法\n// ================================================\n\nconst json = $input.first().json;\n\n// 从上游提取参数\nconst number = json.number || $('Edit Fields1').item.json.body.number || 2;\nconst language = json.language || $('Edit Fields1').item.json.body.language || '英文';\n\n// 从上游获取 productInfo\nlet productInfo = '';\ntry { productInfo = $('Code in JavaScript1').item.json.productInfo || ''; } catch(e) {}\n\n// 从上游获取 design_scheme（完整 Gemini 原始响应）\nconst designScheme = JSON.stringify(json);\n\n// 从当前节点或上游获取 base64 图片列表\nconst base64_list = json.base64_list || json.base64List || [];\n\n// ================================================\n// 完整 Prompt 文本\n// ================================================\nconst promptText = `## 角色\n你是一个电商视觉设计控制中枢 Agent，专门负责对接上游大模型返回的商品 API 结构化 JSON 数据，将其深度揉碎并融合成可直接用于 Nano Banana Pro 的完整高转化生成 Prompt。\n\n## 核心任务\n根据输入的结构化设计方案（来自上游大模型返回的 API JSON 数据），为指定的图片数量生成可直接用于 Nano Banana Pro 的完整生成 Prompt 数组。\n\n## 输入\n- number: ${number}（生成数量）\n- language: ${language}（输出语言，默认英文）\n- design_scheme: 上游返回的包含 candidates[0].content.parts[0].text 结构的原始 JSON 数据\n\n## 执行步骤（严格按顺序）\n\n## Core Instructions & Rules\n\n### 1. 纯物理排版骨架剥离与控型\n你必须彻底消除画布比例和颜色的干扰，仅提取并严格用文字描述以下物理参数，确保 AI 能精准控型：\n- 空间切分比例（如：左文右图 4:6、上下二分 3:7、三栏等分布局）。\n- 图层前后遮叠顺序（Layer Z-Index 链条，例如：基础大背景 -> 中层物理容器/蒙版 -> 顶层文字与产品实体）。\n- 字符跨度与折行极限边界（例如：文字水平跨度禁止超过画布的 40%）。\n- 容器几何形态（明确指定：如圆角矩形、完全透明底衬、带不透明纯色边框的填充块等）。\n\n### 2. 全盘统领的色彩矩阵与低透明度衍生\n不要机械地堆砌颜色，必须以品牌色为核心统领全盘视觉，并提供完整的配色逻辑：\n- 格式规范：基础色: #HEX 品牌色: #HEX 点缀色: #HEX 衍生色: #HEX-透明度%\n- 计算规则：你必须根据品牌色，自动出至少一个低透明度（10%-15% 或 40% 左右）的衍生色，用于场景蒙版、滤镜或容器底衬，彻底解决品牌色面积过少、画面视觉不统一的问题。\n\n### 3. 绝对硬性红线 文本剥离清洗与防穿帮规则\n由于 Nano Banana Pro 容易误将字体规格、字重或像素值直接渲染到最终画面的文案中，你必须在物理空间上对“技术排版参数”与“纯文本字符”进行绝对隔离：\n- 禁止语义黏连：在输出 [纯净高转化模块文案] 时，H1、H2、Bullet Points 的冒号后面绝对禁止包含任何排版参数、字重（如 700字重）、像素（如 24px）或括号标注。\n- 全局环境声明：所有关于字重、字号、字体的物理控制信息，必须且只能留在专设的 [全局排版环境配置] 模块中。\n- 严格遵循高转化文案规则：默认英文版本；主标题 8-12 字以内；副标题 15-20 字以内；单图最多 3 条 bullet points；文案语气匹配品类（母婴温暖、户外活力、美妆柔美等）。\n**补充约束：文案生成权限跟随上游design_scheme内单图自带标记，上游标注对应图片无文案时，直接取消全部文案内容与文字边界、文字容器相关描述；上游标注有文案，才执行本条全部文案规范。**\n\n---\n\n## Output Prompt Structure (每张图必须严格执行以下扁平化平行结构)\n\n每当接收到上游 JSON 或结构化方案时，根据指定的图片数量和提取的图1、图2....顺序，按以下格式逐张输出。单图 Prompt 必须转译为纯粹、连贯的自然语言段落，单图字数精简提炼在 800 字以内，严格禁止任何代码符号、中括号、或者类似 [H1] 的属性标签：\n\n(输出格式，严格执行)第X张图：[这里写一个简短的图片核心主题，如：婴儿竹纤维毛巾场景海报]\n\n1. Global Typography & Environment Setting (全局排版视觉环境)\n这是一段描述画面文字排版视觉规格的整体环境声明（严禁在此出现文案具体字符）。用自然语言声明全局字体风格与视觉层级。例如：\"A professional e-commerce graphic layout with absolute typographic hierarchy. The main bold headline stands with prominent presence at the top, supported by clean and lightweight subheadings and clear bulleted specifications. All text features elegant [字体名称] typeface with customized sharp weights for maximum readability. The layout maintains clean spatial boundaries, with typography limited within the designated 40% horizontal safe zone, avoiding any visual clutter.\"\n**分支补充：上游标记本张图片无文案时，本段删除所有标题层级、文字安全边界、文本分区相关描述内容。**\n\n2. Physical Composition & Layering Control (物理布局公式与图层控制)\n用纯粹的空间流动叙事，把空间切分、图层前后遮叠顺序、容器形态揉碎成一整段话。例如：\"The composition utilizes a strict left-and-right balanced layout split in 4:6 ratio. The visual layering depth follows a sophisticated Z-index arrangement: a flawless seamless studio backdrop forms the base foundation; a clean, semi-transparent rounded rectangular frosted-glass container floats mid-layer with a subtle 10% opacity, providing a professional overlay text zone; the physical product is meticulously positioned on the foreground right, overlapping the background vectors to establish a tangible 3D space.\"\n**分支补充：上游标记本张图片无文案时，本段剔除所有文字承载容器、文字悬浮图层相关内容。**\n\n3. Color Matrix & Atmosphere Integration (视觉调性与专属色彩矩阵)\n将 HEX 颜色代码完全翻译为富有高级感的英文色彩描述词，融入画面调性。例如：\"The entire scene is masterfully unified under a commanding [把品牌色翻译成英文颜色] color story. The background utilizes a delicate, soft gradient veil of [低透明度衍生色英文名] to establish a coherent, soothing atmosphere. Subtle accent details of luxurious [点缀色英文名] glow softly on icons and miniature graphic patterns to create 5% visual highlights. For crisp legibility, all typography layers are rendered in flawless, high-contrast crisp white.\"\n\n4. Scene Elements & Cinematic Lighting (场景元素与光影氛围)\n生动描绘商品视角、光影、微小道具，制造呼吸感。例如：\"The product is captured from a sharp 45-degree professional studio angle, showcasing its exquisite texture. It is placed elegantly amidst natural scene elements like scattered fresh cotton soft petals and gentle water ripples under a cinematic lighting setup. Soft rim light outlines the product edges, accompanied by precise, diffuse physical shadows that anchor the product onto the surface, creating an authentic 8k commercial photography look.\"\n\n5. Clean Marketing Copywriting (纯净高转化模块文案 - 绝对隔离)\n**前置判定：上游标注图片无文案则本整段直接省略，不输出任何标题、副标题、项目符号内容；有文案才执行下方规则。**\n这里是唯一的文案渲染区域。为了防止 AI 误将格式词画入图中，必须使用最干净的英文段落直接陈述。严禁出现字重、像素、冒号等排版提示词：\n- Main Headline: \"Ultimate Softness For Newborn\"\n- Sub-headline: \"100% Organic Bamboo Fiber\"\n- Bullet Points: \n  \"Hypoallergenic and gentle on skin\"\n  \"Ultra-absorbent quick dry weave\"\n  \"Durable double stitched edges\"\n\n6. Technical Engine Prompt (技术参数语料)\n\"3D realistic rendering, commercial product photography, 8k resolution, ray tracing, sharp focus, professional lighting setup, high-end marketplace aesthetics.\"\n\n---\n## Workflow\n1. 接收并解析上游返回的结构化设计方案 JSON 数据（包含整体风格、字体、产品信息、图像布局等）。\n2. 根据指定的图片数量，启动控制流重组。\n3. 针对每一张图，将物理布局、人群氛围、文案限制、色彩衍生、光影场景彻底揉碎重组。\n4. 严格执行“文本剥离清洗规则”，检查文案图层内是否含有字重、字号、px等穿帮字符，确认无误后，以“第X张图：布局公式名称”扁平格式输出纯净的融合型 Prompt\n5.禁止问候语\n**补充6. 生成前置校验：优先读取上游单图的有无文案标记，无文案自动隐藏文案段落及配套文字排版描述，禁止凭空生成任意文案区块。`;\n\n// ================================================\n// 构建 parts 数组\n// ================================================\nconst parts = [\n  { text: promptText },\n  { text: `以下是上游返回的原始设计方案 JSON 数据（包含 candidates[0].content.parts[0].text）：${designScheme}` }\n];\n\n// 添加图片\nif (base64_list.length > 0) {\n  for (const item of base64_list) {\n    const data = typeof item === 'string' ? item : (item.data || '');\n    if (data) {\n      parts.push({\n        inline_data: {\n          mime_type: 'image/webp',\n          data: data\n        }\n      });\n    }\n  }\n}\n\n// ================================================\n// 组装完整请求体 & 输出\n// ================================================\nconst requestBody = {\n  contents: [{ parts }]\n};\n\nreturn [{\n  json: {\n    ...json,\n    requestBody: requestBody,\n    requestBodyJson: JSON.stringify(requestBody),\n    _debug: {\n      imageCount: base64_list.length,\n      language: language,\n      number: number\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        1088
      ],
      "id": "fc380d8b-5ce9-44a8-8478-d1542d2ec1ec",
      "name": "数据整理打包"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        832,
        832
      ],
      "id": "df3cd9c1-9a1e-414c-be16-024d69f76c0a",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2335d22c-9315-40ed-ab47-02e75a0cd994",
              "leftValue": "={{ Array.isArray($json.body?.ckimage) && $json.body.ckimage.filter(v => v !== undefined && v !== null && String(v).trim() !== '').length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        672
      ],
      "id": "d526cf00-bfd7-4d70-8d4a-5300487087fb",
      "name": "IF-cksplit"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"no_ckimage\",\n  \"message\": \"未提供参考图(ckimage)，请上传参考图后重试\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -288,
        688
      ],
      "id": "60732d5d-a7e2-4a06-9f53-2817834207ae",
      "name": "Respond-NoCKimage"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "3",
        "width": 1464,
        "height": 600,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        7056,
        1168
      ],
      "id": "8771799f-6011-4e34-b5e0-87f80f889ad1",
      "name": "Edit Image1"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "1",
        "width": 1464,
        "height": 600,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        7056,
        736
      ],
      "id": "2523ee5f-8ab3-42c5-ae7e-ce24c1bcaee7",
      "name": "Edit Image3"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "2",
        "width": 1464,
        "height": 600,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        7056,
        944
      ],
      "id": "a2803c0d-f2c5-4fcd-930e-e42d83b0ba79",
      "name": "Edit Image4"
    },
    {
      "parameters": {
        "jsCode": "// ================================================ \n// 处理 webhook 数据 + 生成任务ID和预定义路径（无 ckimage 分支）\n// 1. 只处理 cpimage 路径，不处理 ckimage\n// 2. 生成 task_时间戳_随机字符串 格式的任务ID\n// 3. 预定义图片保存路径\n// 说明：本节点不再 require('fs') / require('path')，\n//      目录创建交给下游 Read/Write Files from Disk 节点处理（recursive 自动建）\n// ================================================ \n\nconst items = $input.all(); \nconst firstItem = items[0] || {}; \nconst body = firstItem.json?.body || {}; \n\nconst basePath = '/home/node/.n8n/AI-WEB'; \n\nconst now = new Date(); \nconst yyyy = String(now.getFullYear()); \nconst mm = String(now.getMonth() + 1).padStart(2, '0'); \nconst dd = String(now.getDate()).padStart(2, '0'); \nconst imageBasePath = `${basePath}/${yyyy}/${mm}/${dd}`; \n\n// 使用 task_时间戳_随机字符串格式 \nconst chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'; \nlet randomStr = ''; \nfor (let i = 0; i < 12; i++) { \n  randomStr += chars.charAt(Math.floor(Math.random() * chars.length)); \n} \nconst taskId = `task_${Date.now()}_${randomStr}`; \n\nconst folderPath = `${imageBasePath}/${taskId}`; \n\nconst n8nHost = 'http://localhost:5678'; \n\nconst processImagePaths = (paths) => { \n  if (!paths || !Array.isArray(paths)) return []; \n  return paths.map(p => { \n    const cleanPath = p.startsWith('/') ? p.substring(1) : p; \n    return `${basePath}/${cleanPath}`; \n  }); \n}; \n\n// 支线分支：不处理 ckimage，只处理 cpimage \nconst cpimageUrls = processImagePaths(body.cpimage); \n\nconsole.log('cpimage 完整路径:', cpimageUrls); \n\n$execution.customData.set('taskId', taskId); \n$execution.customData.set('basePath', basePath); \n$execution.customData.set('imageBasePath', imageBasePath); \n$execution.customData.set('n8nHost', n8nHost); \n\nreturn [{ \n  json: { \n    ...firstItem.json, \n    originalBody: body, \n    cpimageUrls: cpimageUrls, \n    allImageUrls: cpimageUrls, \n    totalImages: cpimageUrls.length, \n    basePath: basePath, \n    taskId: taskId, \n    imageBasePath: imageBasePath, \n    folderPath: folderPath, \n    year: yyyy, \n    month: mm, \n    day: dd, \n    _meta: { \n      generatedAt: new Date().toISOString(), \n      promptReady: true, \n      imageGenerating: true, \n      branch: 'no-ckimage' \n    } \n  }, \n  binary: firstItem.binary || {} \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        208
      ],
      "id": "93fa723d-0811-48e0-a2ac-ba77f99d31c4",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "height": 512,
        "width": 2368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        16
      ],
      "id": "9d52221f-1822-4506-98c9-3fa09aba5e46",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "提取cpimage或者ckimage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nano Banana3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nano Banana2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nano Banana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计数1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取构图参考": {
      "main": [
        [
          {
            "node": "binary转换base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP gemini-2.2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP gemini-2.": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取cpimage或者ckimage": {
      "main": [
        [
          {
            "node": "binary转换base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "binary转换base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "提示词分段提取图片1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "binary转换base": {
      "main": [
        [
          {
            "node": "数据整理打包",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "binary转换base64-",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "binary转换base64-": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "数据处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提示词分段提取图片1": {
      "main": [
        [
          {
            "node": "提示词图片排列组合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提示词图片排列组合": {
      "main": [
        [
          {
            "node": "计数1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "提取构图参考",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF-cksplit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana1": {
      "main": [
        [
          {
            "node": "Edit Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana2": {
      "main": [
        [
          {
            "node": "Edit Image4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana3": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ckimage",
            "type": "main",
            "index": 0
          },
          {
            "node": "cpimage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ckimage": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cpimage": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "path": {
      "main": [
        [
          {
            "node": "字段校验",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "字段校验": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据处理": {
      "main": [
        [
          {
            "node": "HTTP gemini-2.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据整理打包": {
      "main": [
        [
          {
            "node": "HTTP gemini-2.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-cksplit": {
      "main": [
        [
          {
            "node": "path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond-NoCKimage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image3": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image4": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond-NoCKimage": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "002f1254-851b-4be1-a1ee-685d5d7932f2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-05T07:01:12.900Z",
      "createdAt": "2026-06-05T07:01:12.900Z",
      "role": "workflow:owner",
      "workflowId": "CqiyDwib3SHe9FKZ",
      "projectId": "ab6D8dFMpUWSaNjq"
    }
  ],
  "activeVersion": null,
  "tags": []
}